#main-wrapper {
    background: #f6f6f6 center top repeat;
}
.content_bottom_wrapper {
    margin-top: 0;
}

.banner-wrap .banner-1 {
      width: 422px;
    background: url(../images/banner-imagen-1.png) center 0 no-repeat;
}
@media (max-width: 1250px) {
  .banner-wrap .banner-1 {
      width: 422px!important;
  }
}
@media (max-width: 767px) {
  .banner-wrap .banner-1 {
      width: 100%!important;
  }
}

.banner-wrap .banner-2 {
    width: 422px;
    background: url(../images/banner-imagen-2.png) center 0 no-repeat;
}
@media (max-width: 1250px) {
  .banner-wrap .banner-2 {
      width: 422px!important;
  }
}
@media (max-width: 767px) {
  .banner-wrap .banner-2 {
      width: 100%!important;
  }
}
.banner-wrap .banner .title-1 {
	background:#f3f3f3;
}

@media (max-width: 1250px) {
  .banner-wrap .banner-3 {
      width: 288px!important;
  }
}
@media (max-width: 767px) {
  .banner-wrap .banner-3 {
      width: 100%!important;
  }
}

#block-block-8 .custom-block-1 {
    background: #dcd6da url(../images/pagina1_imagen1.png) right top no-repeat;
}
#flexslider-1 .flex-caption {
    background: #f6f6f6 url(../images/icon-slider.png) 90px 79px no-repeat;
}
.banner-wrap:after, .banner-wrap:before {
    background: #fff;
}

#main { padding:70px 0 30px; }
.content-bg {
	position:relative;
  background: #f6f6f6;
}
.content-bg:after, .content-bg:before {
	background: #f6f6f6;
}

.content_bottom_wrapper {
  	background:rgba(0,0,0,0.12);
    padding-top: 45px;
 }

.banner-wrap .banner .title-1 {
  text-align: center;
  padding:0;
 }
.views-products-field-title {
  color: #38332a;
}
.views-products-field-body {
  color: #38332a;
}
