.switcher { display:none; }
@media (max-width: 1250px) {
	body { min-width:320px; }
	.switcher { display:inline-block; }
	#flexslider-1 { margin:0 360px 0 0; }
	#flexslider-1 .flex-caption {
		padding:80px 20px 0 20px;
		width:360px;
		right:-360px;
		background-position:20px 20px;
	}
	.banner-wrap .banner-1 { width:360px; }
	.banner-wrap .banner-2 { width:320px; }
	.banner-wrap .banner-3 {
		width:260px;
		padding:93px 15px 0 35px;
		overflow:hidden;
	}
	.banner-wrap .banner .title-1 {
		font-size:25px;
		padding:0 110px 0 20px;
	}
	.banner-wrap .banner .title-3 {
		font-size:24px;
		line-height:36px;
		padding-bottom:29px;
		margin-bottom:31px;
	}
}
@media (max-width: 995px) {
	.page-page-404 .panel-col-first { font-size:160px; }
	.stickup {
		box-shadow:none !important;
		position:static !important;
	}
	.pseudoStickyBlock {
		display:none !important;
		height:0 !important;
	}
	#backtotop { display:none !important; }
	#flexslider-1 { margin:0 300px 0 0; }
	#flexslider-1 .flex-caption {
		padding:30px 20px 0 20px;
		width:360px;
		right:-300px;
		background:#f6f6f6;
	}
	.banner-wrap li { width:33.3%; }
	.banner-wrap .banner-1 { width:100%; }
	.banner-wrap .banner-2 { width:100%; }
	.banner-wrap .banner-3 {
		width:100%;
		padding:93px 15px 0 35px;
	}
	.banner-wrap .banner .title-1 {
		text-align:center;
		font-size:20px;
		padding:0 10px;
		background:#a2ce25;
	}
	.banner-wrap .banner .title-2 { font-size:20px; }
	.banner-wrap .banner .title-3 {
		font-size:20px;
		line-height:30px;
		padding-bottom:20px;
		margin-bottom:20px;
	}
	#block-views-expertise-block .views-field-field-expertise-image, .img-left {
		width:100%;
		float:none;
		margin:0 0 20px;
		max-width:none;
	}
}
@media (max-width: 767px) {
	#superfish-1 { display:none; }
	.select-menu {
		display:block !important;
		width:100%;
	}
	.comment-wrapper { overflow:visible; }
	.user-picture { margin-bottom:12px; }
	.views-field-field-portfolio-image { pointer-events:none; }
	.panel-2col .panel-col-first, .panel-2col .panel-col-last {
		float:none;
		width:100%;
	}
	.panel-2col .panel-col-first .inside, .panel-2col .panel-col-last .inside { margin:0; }
	.page-page-404 .panel-col-first {
		font-size:170px;
		line-height:170px;
		text-align:center;
	}
	.filter-help {
		float:none;
		margin-bottom:15px;
		padding-top:0;
	}
	.mobile-two-column .views-row {
		float:left !important;
		width:46% !important;
		margin-right:4% !important;
	}
	.mobile-two-column .views-row.even { margin-right:0 !important; }
	.mobile-two-column .views-row.odd { clear:left; }
	#flexslider-1 { margin:0; }
	#flexslider-1 .flex-caption {
		position:static;
		width:auto;
		padding:20px;
	}
	#flexslider-1 .flex-caption p { display:none; }
	.banner-wrap ul {
		text-align:center;
		width:100%;
	}
	.banner-wrap ul li {
		margin:0;
		width:52%;
		float:none;
		display:inline-block;
	}
	.banner-wrap .banner { height:320px; }
	.banner-wrap .banner-1 { width:100%; }
	.banner-wrap .banner-2 { width:100%; }
	.banner-wrap .banner-3 {
		width:100%;
		padding:50px 15px 0 15px;
	}
	.banner-wrap .banner .title-1, .banner-wrap .banner .title-2 {
		height:110px;
		line-height:110px;
		text-align:center;
		font-size:18px;
		padding:0 10px;
	}
	.banner-wrap .banner .title-3 {
		font-size:18px;
		line-height:22px;
		padding-bottom:15px;
		margin-bottom:15px;
	}
	#block-tm-follow-site h2 { text-align:left; }
	#block-tm-follow-site .tm-follow-links { text-align:left; }
	#block-block-9 .block-content, #block-block-8 h2 { padding:0; }
	.custom-btn a {
		font-size:16px;
		line-height:20px;
		padding:9px 15px;
	}
	#block-block-8 .custom-caption {
		min-height:200px;
		padding:30px 0 30px 30px;
		width:200px;
	}
	#block-block-8 .custom-caption .title {
		font-size:25px;
		line-height:25px;
		margin-bottom:20px;
	}
	.footer-menu .content ul li { margin-left:20px; }
	.footer-menu .content ul li:after { display:none; }
	.header-section-1 { padding-bottom:0; }
	#flexslider-1 .slides li:before { display:none; }
}
@media (max-width: 479px) {
	.node-teaser .field-type-file, .node-teaser .field-type-image, .node-employee .field-type-image {
		float:none;
		margin:0 0 20px;
		max-width:inherit;
		width:auto;
	}
	#comments .comment .comment-wrapper { overflow:visible; }
	#comments .indented { margin-left:0; }
	.page-tracker #main-wrapper .content { overflow-x:scroll; }
	.page-tracker #main-wrapper .content table.sticky-header { display:none !important; }
	.page-forum #forum { overflow-x:scroll; }
	.page-forum #forum td.forum .icon {
		float:none;
		margin:0 0 5px;
	}
	.field-name-field-testi-image {
		float:none;
		margin:0 0 20px;
		max-width:inherit;
	}
	.mobile-two-column .views-row {
		float:none;
		width:100% !important;
		margin-right:0 !important;
	}
	.banner-wrap ul li { width:75%; }
	#block-block-8 .custom-block-1 { background-size:100%; }
	#block-block-8 .custom-caption {
		min-height:150px;
		padding:10px;
		width:150px;
	}
	#block-block-8 .custom-caption .title {
		font-size:25px;
		line-height:25px;
		margin-bottom:20px;
	}
	.custom-btn a {
		font-size:14px;
		line-height:20px;
		padding:5px;
	}
	.footer-menu .content ul li {
		margin-left:10px;
		font-size:14px;
	}
	#isotope-options #filters li {
		margin-left:0;
		display:block;
	}
}
