@import url(//fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(//fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,900,700);
@import url(//fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800);
body {
	-webkit-tap-highlight-color:#ffce55;
	background:#fff;
	color:#5d5e60;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	line-height:24px;
	min-width:1250px;
	position:relative;
}
#page-wrapper { overflow:hidden; }
h1 {
	color:#fff;
	font:400 50px/50px 'Julius Sans One', sans-serif;
	margin-bottom:34px;
}
h2 {
	color:#be1e2d;
	text-transform:uppercase;
	font:400 30px/30px 'Julius Sans One', sans-serif;
	margin-bottom:30px;
}
h3, #block-tm-follow-user h2 {
	color:#be1e2d;
	font:400 26px/36px 'Julius Sans One', sans-serif;
	margin-bottom:20px;
}
.profile h3, #block-tm-follow-user h2 {
	border-bottom:1px solid #9e9993;
	overflow:hidden;
	padding-bottom:5px;
}
h4 {
	color:#5d5e60;
	/*text-transform:uppercase;*/
	font:600 28px/28px 'Raleway', sans-serif;
	margin-bottom:14px;
}
h5 {
	color:#fff;
	font:400 16px/24px 'Julius Sans One', sans-serif;
	margin-bottom:15px;
}
h6 {
	color:#fff;
	text-transform:uppercase;
	font:600 12px/20px 'Raleway', sans-serif;
	margin-bottom:5px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:inherit;
	text-decoration:none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color:#be1e2d;
	text-decoration:none;
}
input[type="text"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="month"], input[type="password"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], textarea, select {
	background:rgba(0,0,0,0.35);
	border:1px solid #9e9993;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#fff !important;
	font:14px 'Open Sans', sans-serif;
	max-width:100%;
	padding:5px 10px 6px;
}
fieldset { border-color:#9e9993; }
label { display:inline-block; }
#search-form .form-item { display:block; }
#user-login .form-text, #contact-site-form .form-text, .search-form .form-text { width:100%; }
#contact-site-form label { vertical-align:middle; }
a {
	color:#be1e2d;
	text-decoration:none;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
a:hover {

	text-decoration:none;
	color:#a0a0a0;

}
.btn a, .more-link a, input[type="submit"], input[type="reset"], ul.links li a, .view-portfolio .views-field-view-node a, #block-poll-recent ul.links li a, #filters li a, .content ul.pager li a, .content ul.pager li.pager-current, .view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a, .form-submit {
	background:url(../images/btn.png) 100% 7px no-repeat;
	border:none;
	border-radius:0;
	box-shadow:none;
	color:#928573;
	display:inline-block;
	font:700 18px/22px 'Open Sans', sans-serif;
	outline:none;
	padding:0 20px 0 0;
	text-decoration:none;
	text-transform:lowercase;
}
.btn a:hover, .more-link a:hover, input[type="submit"]:hover, input[type="reset"]:hover, ul.links li a:hover, .view-portfolio .views-field-view-node a:hover, #block-poll-recent ul.links li a:hover, #filters li a:hover, #filters li a.selected, .content ul.pager li a:hover, .content ul.pager li.pager-current, .view .date-nav-wrapper .date-prev a:hover, .view .date-nav-wrapper .date-next a:hover, .form-submit:hover {
	background:url(../images/btn.png) 100% 7px no-repeat;
	color:#fff;
	text-decoration:none;
}
#filters li a, .content ul.pager li a, .content ul.pager li.pager-current {
	font-size:12px;
	line-height:15px;
	font-weight:400;
	color:#fff;
	padding:7px 15px 9px;
	border:1px solid #9e9993;
	background:rgba(0,0,0,0.2);
}
#filters li a:hover, #filters li a.selected, .content ul.pager li a:hover, .content ul.pager li.pager-current {
	background:#be1e2d;
	border-color:#be1e2d;
}
.custom-btn a {
	font-family:'Julius Sans One', sans-serif;
	font-size:32px;
	line-height:39px;
	background:#e9003c;
	color:#fff;
	text-transform:uppercase;
	padding:9px 25px;
}
.custom-btn a:hover { background:#a8d500; }
.icon-link { font-weight:400; }
.icon-link a { color:#fff; }
.icon-link a:hover { color:#ffce55; }
input[type="submit"], input[type="reset"] { margin-right:10px; }
.more-link {
	padding-top:20px;
	text-align:left;
}
ul, .item-list ul, ul.menu { margin:0 0 24px; }
ul li, .item-list ul li, ul.menu li {
	background:url(../images/list-marker.png) 0 7px no-repeat;
	list-style:none;
	font-weight:700;
	text-transform:uppercase;
	margin:8px 0 0;
	padding:0 0 0 23px;
}
ul li:first-child, .item-list ul li:first-child, ul.menu li:first-child { margin-top:0; }
ul li a, .item-list ul li a, ul.menu li a {
	color:inherit;
	text-decoration:none;
}
ul li a:hover, .item-list ul li a:hover, ul.menu li a:hover {
	color:#ffce55;
	text-decoration:none;
}
ul li ul, .item-list ul li ul, ul.menu li ul { padding-top:10px; }
ul.tabs li, ul.flex-direction-nav li, ul.links li, ul#admin-menu-menu li, ul#admin-menu-account li, ul#admin-menu-icon li, ul.slides li, ul.contextual-links li, ul.tips li, ul.pager li, .messages.error ul li, .rate-widget ul li {
	background:none;
	font:inherit;
	margin-top:0;
	padding-left:0;
}
.messages.error ul li { list-style:disc; }
#admin-menu, #admin-menu .dropdown { z-index:10000; }
img {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	height:auto;
	max-width:100%;
	width:auto;
}
img.lazyloader-icon { width:auto !important; }
.frame, .field-type-image, .views-field-field-image, .views-field-field-blog-media, .view-portfolio .isotope-element .views-field-field-portfolio-image, .field-name-field-blog-media, .field-name-field-image, .field-name-field-portfolio-image, .field-name-field-service-image, .field-name-field-employee-photo, .field-name-field-banner-image, .field-name-field-slide-image {
	margin-bottom:20px;
	position:relative;
}
.field-name-field-banner-image { width:250px; }
.user-picture {
	background:none;
	float:left;
	margin-right:15px;
	max-width:45%;
	padding:0;
}
.profile .user-picture {
	float:right;
	margin:0 0 0 20px;
}
p { margin-bottom:15px; }
table { margin-bottom:0; }
table tr.odd, table tr.even { border:none; }
table tr.odd { background:transparent; }
table tr.even { background:rgba(0,0,0,0.35); }
table th {
	background:rgba(0,0,0,0.35);
	border:none;
	color:#ffce55;
	font-size:14px;
	padding:5px;
}
table th a { color:inherit; }
table th a:hover {
	color:#ffce55;
	text-decoration:none;
}
table td { padding:5px; }
.extra-wrap { overflow:hidden; }
.wrapper {
	overflow:hidden;
	position:relative;
	width:100%;
}
.clearfix { position:relative; }
.clearfix:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.fclear { clear:both; }
.separator {
	clear:both;
	height:40px;
}
.separator-top {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.separator-bottom {
	border-bottom:0;
	margin-bottom:50px;
	padding-bottom:0;
}
.align-left { text-align:left; }
.align-center { text-align:center; }
.align-right { text-align:right; }
.color-1 { color:#ffbf1c; }
.indent-1 { margin-bottom:40px; }
.img-left {
	float:left;
	margin:0 30px 20px 0;
	max-width:35%;
}
.region-header-top:after, .region-header:after, .region-header-bottom:after, .region-content-top:after, .region-content:after, .region-content-bottom:after, .region-footer-top:after, .region-footer:after {
	clear:both;
	content:'';
	display:block;
	width:100%;
}
.video-bg .region, .img-bg .region {
	padding-bottom:20px;
	padding-top:20px;
}
.video-bg .region.region-header-bottom, .img-bg .region.region-header-bottom { padding:65px 0; }
.video-bg .region.region-content-video, .img-bg .region.region-content-video { padding:75px 0 50px; }
.video-bg { background:#160f05; }
.video-bg >.container-12 { z-index:5; }
.video-bg >.mbYTP_wrapper { z-index:4 !important; }
.video-bg .video-loader {
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	width:120px;
	height:120px;
	margin:-60px 0 0 -60px;
	border-radius:50%;
	border:3px solid transparent;
	border-top-color:#e9003c;
	-webkit-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
	z-index:1;
}
.video-bg .video-loader:before {
	content:"";
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	border-radius:50%;
	border:3px solid transparent;
	border-top-color:#b3e22a;
	-webkit-animation:spin 3s linear infinite;
	animation:spin 3s linear infinite;
}
.video-bg .video-loader:after {
	content:"";
	position:absolute;
	top:15px;
	left:15px;
	right:15px;
	bottom:15px;
	border-radius:50%;
	border:3px solid transparent;
	border-top-color:#ffce55;
	-webkit-animation:spin 1.5s linear infinite;
	animation:spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100% {
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100% {
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
::selection, ::-moz-selection {
	background:#ffce55;
	color:#fff;
	text-shadow:none;
}
img::selection, img::-moz-selection { background:transparent; }
.region-header-top { margin-bottom:30px; }
#header {
	position:relative;
	width:100%;
}
.header-section-1 {
	padding:37px 0 40px;
	background:#fff;
}
.stickup {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	z-index:9999;
}
.isStuck {
	left:0;
	right:0;
	top:0;
}
.isStuck .header-section-1 {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	padding:15px 0;
}
.isStuck #superfish-1 > li ul { top:47px; }
.isStuck #superfish-1 > li ul li ul { top:-15px; }
.site-name { margin-bottom:0; }
.site-name a:hover {
	color:inherit;
	text-decoration:none;
}
.select-menu { display:none !important; }
.region-menu { padding:20px 0 12px; }
#superfish-1 {
	background:none;
	margin-bottom:0;
	padding:0;
	width:100%;
	z-index:101;
	text-align:right;
}
#superfish-1 > li {
	position:relative;
	display:inline-block;
	float:none;
	background:none;
	border:0;
	font:300 16px/20px 'Open Sans', sans-serif;
	margin:0 0 0 58px;
	overflow:inherit;
	padding:0;
	text-transform:lowercase;
}
#superfish-1 > li:after {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	content:'';
	display:inline-block;
	width:9px;
	height:26px;
	position:absolute;
	left:-33px;
	top:0;
	background:url(../images/menu.png) 0 0 no-repeat;
}
#superfish-1 > li:first-child { margin-left:0; }
#superfish-1 > li:first-child:after { display:none; }
#superfish-1 > li > a {
	color:#000;
	text-decoration:none;
}
#superfish-1 > li > a .sf-sub-indicator {
	background:none;
	font:inherit;
	height:auto;
	margin-left:5px;
	overflow:visible;
	position:static;
	text-indent:0;
	width:auto;
	display:none;
}
#superfish-1 > li > a:hover, #superfish-1 > li.active-trail > a, #superfish-1 > li.sfHover > a {
	color:#be1e2d;
	text-decoration:none;
}
#superfish-1 > li ul {
	background:#be1e2d;
	display:none;
	padding:15px 0 11px;
	top:72px;
	width:150px !important;
	text-align:center;
}
#superfish-1 > li ul li {
	background:none;
	border-bottom:0;
	float:none !important;
	font-size:15px;
	line-height:35px;
	font-weight:300;
	height:auto;
	margin:0;
	padding:0;
	text-transform:lowercase;
	width:auto !important;
}
#superfish-1 > li ul li > a:visited, #superfish-1 > li ul li > a {
	color:#fff;
	text-decoration:none;
}
#superfish-1 > li ul li > a:visited .sf-sub-indicator, #superfish-1 > li ul li > a .sf-sub-indicator {
	background:none;
	display:inline-block;
	font:inherit;
	height:auto;
	margin-left:5px;
	overflow:visible;
	position:static;
	text-indent:0;
	width:auto;
}
#superfish-1 > li ul li > a:hover, #superfish-1 > li ul li.active-trail > a, #superfish-1 > li ul li.sfHover > a {
	color:#fdf4cb;
	text-decoration:none;
}
#superfish-1 > li ul li ul {
	background:#88c942;
	left:101% !important;
	top:-15px;
}
#superfish-1 .sf-megamenu { width:auto !important; }
#superfish-1 .sf-megamenu > li > ol {
	vertical-align:top;
	white-space:nowrap;
}
#superfish-1 .sf-megamenu > li > ol > li {
	line-height:26px;
	display:inline-block;
	margin:0 15px;
	padding:0;
	vertical-align:top;
	width:140px !important;
	white-space:normal;
}
#superfish-1 .sf-megamenu > li > ol > li:first-child { margin-left:0; }
#superfish-1 .sf-megamenu > li > ol > li a {
	color:#fff;
	text-decoration:none;
}
#superfish-1 .sf-megamenu > li > ol > li a:hover, #superfish-1 .sf-megamenu > li > ol > li a.active, #superfish-1 .sf-megamenu > li > ol > li.active-trail > a, #superfish-1 .sf-megamenu > li > ol > li.sfHover > a {
	color:#fff;
	text-decoration:none;
}
#superfish-1 .sf-megamenu > li > ol > li ol { padding:0; }
#superfish-1 .sf-megamenu > li > ol > li ol li {
	line-height:26px;
	display:block;
	float:none !important;
	margin-left:0;
	padding:0;
}
.flex-viewport {
	-moz-transition:none;
	-o-transition:none;
	-webkit-transition:none;
	transition:none;
}
.flexslider {
	background:none;
	border:none;
	border-radius:0;
	box-shadow:none;
	margin-bottom:0;
}
#flexslider-1 { margin:0 460px 0 0; }
#flexslider-1 .slides li { padding:0; }
#flexslider-1 .slides li:before {
	bottom:0;
	content:'';
	display:block;
	left:0;
	position:absolute;
	right:0;
	top:0;
	z-index:1;
}
#flexslider-1 .slides li img { width:100%; }
#flexslider-1 .flex-control-nav {
	bottom:20px;
	font-size:0;
	line-height:0;
	z-index:20;
}
#flexslider-1 .flex-control-nav li a { box-shadow:none; }
#flexslider-1 .flex-control-thumbs li { width:20%; }
#flexslider-1 .flex-direction-nav a:before { line-height:40px; }
#flexslider-1:hover .flex-next {
	opacity:1;
	right:0;
}
#flexslider-1:hover .flex-prev {
	opacity:1;
	left:0;
}
#flexslider-1 .flex-caption {
	box-sizing:border-box;
	bottom:0;
	top:0;
	right:-460px;
	position:absolute;
	width:460px;
	font-weight:300;
	z-index:99;
	background:#f6f6f6 url(../images/search-btn-black.png) 90px 79px no-repeat;
	padding:150px 50px 0 90px;
	color:#7e7e7e;
}
#flexslider-1 .flex-caption h2 {
	color:#38332a;
	margin-bottom:9px;
}
#flexslider-1 .flex-caption p { margin-bottom:25px; }
#flexslider-1 .flex-caption .slide-btn a {
	display:inline-block;
	text-indent:-9999px;
	text-align:center;
	width:24px;
	height:24px;
	position:relative;
	color:#be1e2d;
}
#flexslider-1 .flex-caption .slide-btn a:after {
	font-family:FontAwesome;
	position:absolute;
	left:0;
	top:0;
	text-indent:0;
	content:'\f18e';
	display:inline-block;
	line-height:24px;
	font-size:25px;
}
#flexslider-1 .flex-caption .slide-btn a:hover { color:#5d5e60; }
.header_bottom_wrapper { background-color:#1d1f23; }
.content_top_wrapper { margin-bottom:30px; }
.region-content-top { padding:45px 0 25px; }
#main-wrapper {
	background:#6a6151 url(../images/main-bg.jpg) center top repeat;
	padding:1px 0 0;
}
#main { padding:70px 0 30px; }
.content-bg {
	position:relative;
	background:rgba(0,0,0,0.35);
}
.content-bg:after, .content-bg:before {
	content:'';
	display:inline-block;
	position:absolute;
	bottom:0;
	top:0;
	background:rgba(0,0,0,0.35);
}
.content-bg:after {
	left:100%;
	right:-1000%;
}
.content-bg:before {
	right:100%;
	left:-1000%;
}
.region-content { padding:0; }
.views-row { margin-bottom:30px; }
.views-row.last { margin-bottom:0; }
div.messages {
	margin-bottom:30px;
	padding-right:30px;
}
div.messages .dismiss {
	box-shadow:none;
	border-radius:2px;
	font-family:'Open Sans', sans-serif;
	line-height:normal;
	padding:2px 6px 4px;
	text-transform:lowercase;
	width:auto;
}
div.messages .dismiss:hover {
	color:#fff;
	text-shadow:none;
}
#breadcrumb {
	color:#fff;
	margin-bottom:30px;
	padding:0;
}
#breadcrumb a {
	color:inherit;
	padding:0 3px;
	text-decoration:none;
}
#breadcrumb a:first-child { padding-left:0; }
#breadcrumb a:last-child { padding-right:0; }
#breadcrumb a:hover { color:#ffce55; }
.tabs-wrapper { margin:1px 0 20px; }
.tabs { overflow:hidden; }
.tabs ul.primary {
	border:0;
	border-bottom:1px solid #9e9993;
	margin:0 0 20px;
	overflow:hidden;
	padding:4px 0;
}
.tabs ul.primary li { margin-bottom:-1px; }
.tabs ul.primary li a {
	background:rgba(0,0,0,0.35);
	border:1px solid #9e9993;
	border-bottom:0;
	border-radius:3px 3px 0 0;
	color:#fff;
	font-size:12px;
	font-weight:normal;
	margin:0;
	overflow:hidden;
	padding:3px 15px 4px;
	text-shadow:none;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
	transition:all 0.1s linear;
}
.tabs ul.primary li.active a, .tabs ul.primary li a:hover {
	background:#88c942;
	border-color:#80c438;
	color:#fff;
	text-decoration:none;
}
.portfolio-filters { margin-bottom:40px; }
.tm-masonry-filter {
	margin:0;
	padding:0;
	text-align:center;
}
.tm-masonry-filter li {
	background:none;
	display:inline-block;
	padding:0;
}
.tm-masonry-filter li:before {
	background-color:#ffce55;
	bottom:3px;
	content:"";
	display:inline-block;
	height:5px;
	margin:0 10px;
	position:relative;
	width:5px;
}
.tm-masonry-filter li:firts-child:before { display:none; }
.tm-masonry-filter li a {
	color:#fff;
	text-decoration:none;
}
.tm-masonry-filter li a.active, .tm-masonry-filter li a:hover { color:#ffce55; }
.tm-masonry-item { position:relative; }
.tm-masonry-item .field-type-image {
	float:none !important;
	max-width:100% !important;
	text-align:center;
	width:100% !important;
}
.tm-masonry-item .node-header {
	left:0;
	position:absolute;
	right:0;
	text-align:center;
	top:-100%;
	z-index:999;
	-moz-transition:0.6s ease;
	-o-transition:0.6s ease;
	-webkit-transition:0.6s ease;
	transition:0.6s ease;
}
.tm-masonry-item .node-title {
	font-weight:400;
	margin:0;
	position:relative;
}
.tm-masonry-item a.colorbox {
	background:#fff;
	text-align:center;
}
.tm-masonry-item a.colorbox:after {
	background:none;
	color:#000;
	content:"\f00e";
	font:30px/30px FontAwesome;
	left:51%;
	margin:-15px 0 0 0;
	position:absolute;
	top:-100%;
	z-index:999;
	-moz-transition:0.6s ease;
	-o-transition:0.6s ease;
	-webkit-transition:0.6s ease;
	transition:0.6s ease;
}
.tm-masonry-item a.colorbox:hover img {
	opacity:0.5;
	filter:alpha(opacity=50);
}
.tm-masonry-item .node-footer {
	margin:-15px 0 0 0;
	padding:0;
	position:absolute;
	right:51%;
	top:-100%;
	z-index:999;
	-moz-transition:0.6s ease;
	-o-transition:0.6s ease;
	-webkit-transition:0.6s ease;
	transition:0.6s ease;
}
.tm-masonry-item .node-footer .node-readmore a {
	background:none;
	color:transparent;
	font-size:0;
	line-height:0;
	padding:0;
}
.tm-masonry-item .node-footer .node-readmore a:after {
	color:#000;
	content:"\f0c1";
	font:30px/30px FontAwesome;
}
.tm-masonry-item:hover .node-footer, .tm-masonry-item:hover a.colorbox:after { top:40%; }
.tm-masonry-item:hover .node-header { top:60%; }
#block-views-expertise-block .views-field-field-expertise-image {
	float:left;
	width:367px;
	margin:0 30px 15px 0;
	max-width:49%;
}
#block-views-services-block .views-row .views-field-field-service-image { margin-bottom:37px; }
#block-views-services-block .views-row h2 {
	letter-spacing:-2px;
	word-spacing:-2px;
	margin-bottom:23px;
	padding-bottom:15px;
	border-bottom:1px solid #cfcec4;
}
#block-tm-follow-site h2 { text-align:center; }
#block-tm-follow-site .tm-follow-links { text-align:center; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper {
	float:none;
	display:inline-block;
	margin:0 14px;
	position:relative;
}
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper:after {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	content:'';
	display:inline-block;
	width:1px;
	height:18px;
	position:absolute;
	background:#8b8780;
	bottom:4px;
	left:-14px;
}
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper:first-child:after { display:none; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper a {
	padding:52px 0 0;
}
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper a.tm-follow-link-facebook { background:url(../images/icon-facebook.png) center top no-repeat; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper a.tm-follow-link-facebook:before { display:none; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper a.tm-follow-link-twitter { background:url(../images/icon-twitter.png) center top no-repeat; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper a.tm-follow-link-twitter:before { display:none; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper a.tm-follow-link-googleplus { background:url(../images/icon-google.png) center top no-repeat; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper a.tm-follow-link-googleplus:before { display:none; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper a.tm-follow-link-instagram { background:url(../images/icon-instagram.png) center top no-repeat; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper a.tm-follow-link-instagram:before { display:none; }
#block-tm-follow-site .tm-follow-links .tm-follow-link-wrapper a:hover { color:#fff; }
#block-views-solution-block .views-field-field-solution-icon {
	float:left;
	margin:0 20px 0 0;
}
#block-block-9 .block-content {
	font-size:36px;
	line-height:48px;
	text-transform:uppercase;
	font-weight:700;
	text-align:center;
	padding:0 70px;
}
#block-block-8 h2 {
	text-align:center;
	padding:0 95px;
	margin-bottom:70px;
}
#block-block-8 .custom-block-1 { background:#dcd6da url(../images/page1_img1.jpg) right top no-repeat; }
#block-block-8 .custom-caption {
	box-sizing:border-box;
	width:386px;
	background:#fff;
	padding:88px 0 50px 60px;
	min-height:425px;
}
#block-block-8 .custom-caption .title {
	text-transform:uppercase;
	font-size:56px;
	line-height:46px;
	font-family:'Julius Sans One', sans-serif;
	color:#ffbf1c;
	margin-bottom:57px;
}
#block-block-8 .custom-caption .title span {
	display:block;
	color:#ff6045;
}
.banner-wrap { position:relative; }
.banner-wrap:after, .banner-wrap:before {
	content:'';
	display:inline-block;
	position:absolute;
	bottom:0;
	top:0;
	background:#38332d;
}
.banner-wrap:after {
	left:100%;
	right:-9999px;
}
.banner-wrap:before {
	left:-9999px;
	right:100%;
}
.banner-wrap ul {
	position:relative;
	margin:0;
}
.banner-wrap ul:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.banner-wrap ul li {
	background:none;
	float:left;
	padding:0;
	margin:0;
}
.banner-wrap .banner {
	display:block;
	height:404px;
	position:relative;
	padding:0;
	overflow:hidden;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.banner-wrap .banner-1 {
	width:566;
	background:url(../images/banner-img-1.jpg) center 0 no-repeat;
}
.banner-wrap .banner-1:hover .title-2 {
	background-color:#be1e2d;
	color: #fff;
}

.banner-wrap .banner-2 {
	width:566;
	background:url(../images/banner-img-2.jpg) center 0 no-repeat;
}
.banner-wrap .banner-2:hover .title-2 {
	background-color:#be1e2d;
	color:#fff
}

.banner-wrap .banner-3 {
	background:#be1e2d;
	width:288px;
	color:#fff;
	box-sizing:border-box;
	padding:33px 15px 0 35px;
}
.banner-wrap .banner-3:hover { background:#f6f6f6; color:#be1e2d; }
.banner-wrap .banner-3:hover .title-3:after { background:#fff; }
.banner-wrap .banner-3:hover .banner-btn i { color:#fff; }

.banner-wrap .banner .title-1 {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	font-family:'Julius Sans One', sans-serif;
	font-size:36px;
	line-height:135px;
	text-transform:uppercase;
	background:#a2ce25 url(../images/title-bg-1.png) 95% 22px no-repeat;
	height:135px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	letter-spacing:-1px;
	color:#38332a;
	padding:0 120px 0 35px;
}
.banner-wrap .banner .title-2 {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	text-align:center;
	font-family:'Julius Sans One', sans-serif;
	font-size:30px;
	line-height:135px;
	background:#fff;
	height:135px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	color:#313131;
}
.banner-wrap .banner .title-3 {
	font-family:'Julius Sans One', sans-serif;
	text-transform:uppercase;
	display:block;
	font-size:24px;
	line-height:36px;
	position:relative;
	padding-bottom:29px;
	margin-bottom:31px;
}
.banner-wrap .banner .title-3:after {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	content:'';
	display:inline-block;
	height:1px;
	position:absolute;
	bottom:0;
	left:-50px;
	right:-50px;
	background:#f7a3b9;
}
.banner-wrap .banner .banner-btn {
	padding-top:29px;
	display:block;
}
.banner-wrap .banner .banner-btn i {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	font-size:25px;
	color:#f6e011;
}
.content_bottom_wrapper { margin-top:50px; }
.region-content-bottom { padding-bottom:50px; }
.region-content-bottom h2 {
	font-size:26px;
	line-height:36px;
	margin-bottom:30px;
}
#isotope-container {
	margin-left:-10px;
	margin-right:-10px;
}
.isotope-element {
	background:none;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:inherit;
	margin:0 10px 30px;
	height:auto;
	overflow:visible;
	padding:0;
	position:relative;
	width:auto;
}
.isotope-element .views-field-field-portfolio-image {
	/*background:url(../images/ajax-loader.gif) center center no-repeat #fff;*/
	margin-bottom:25px;
}
.isotope-element .views-field-field-portfolio-image a {
	background:rgba(190, 30, 45, 0.4);
	display:block;
	overflow:hidden;
	position:relative;
	text-decoration:none;
}
.isotope-element .views-field-field-portfolio-image a:after {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	background:none;
	/*color:#88c942;*/
	content:"\f00e";
	font:0px/80px FontAwesome;
	left:50%;
	margin:-40px 0 0 -40px;
	position:absolute;
	top:50%;
	z-index:999;
}
.isotope-element .views-field-field-portfolio-image a:hover:after { font-size:80px; }
.isotope-element .views-field-field-portfolio-image img { width:100%; }
.isotope-element .views-field-body { margin-bottom:25px; }
#isotope-options { background:none; }
#isotope-options #filters {
	margin-bottom:20px;
	text-align:right;
}
#isotope-options #filters li {
	display:inline-block;
	margin-left:10px;
	margin-bottom:10px;
	padding:0;
	background:none;
}
.field-name-field-portfolio-category ul {
	float:left;
	overflow:hidden;
}
.field-name-field-portfolio-category ul:before {
	content:"\f02e";
	display:block;
	float:left;
	font-family:fontAwesome;
	margin-right:4px;
}
.page-blog .content-header ul { margin-bottom:0; }
.page-blog .content-header ul li {
	background:none;
	padding:0;
}
.node {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.node:first-child {
	background:none;
	border-top:0;
	margin-top:0;
	padding-top:0;
}
.node-header { margin-bottom:20px; }
.node-submitted { margin:0; }
.node-submitted .fa {
	color:#be1e2d;
	margin-right:5px;
}
.node-submitted a { color:inherit; }
.node-submitted a:hover {
	color:#ffce55;
	text-decoration:none;
}
.node-submitted .node-author, .node-submitted .node-time, .node-submitted .node-views { margin-right:7px; }
.node-teaser .field-type-file, .node-teaser .field-type-image, .node-employee .field-type-image {
	float:left;
	margin:0 30px 5px 0;
	max-width:45%;
	width:435px;
}
.media-vimeo-video { padding-bottom:50.2%; }
.node-teaser .media-vimeo-video { padding-bottom:63.2%; }
.media-youtube-video { padding-bottom:50.2%; }
.node-teaser .media-youtube-video { padding-bottom:63.2%; }
.media-vimeo-video, .media-youtube-video {
	height:0;
	overflow:hidden;
	padding-top:30px;
	position:relative;
}
.media-vimeo-video iframe, .media-youtube-video iframe {
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}
.links { list-style:none; }
.links li {
	display:inline-block !important;
	margin-bottom:5px;
	margin-right:5px;
}
.content ul.pager {
	margin-top:30px;
	text-align:left;
}
.content ul.pager li {
	margin:0px 1px 5px;
	padding:0;
	display:inline-block;
}
.node-footer { padding-top:30px; }
.node-footer .field-name-field-tags { padding-top:20px; }
.node-footer .field-name-field-tags .field-label {
	background:none;
	float:left;
	font:inherit;
	font-weight:bold;
	margin-right:15px;
	padding:0;
	text-shadow:none;
	text-transform:none;
}
.node-footer .field-name-field-tags .field-items {
	overflow:hidden;
	padding-bottom:15px;
	width:100%;
}
.node-footer .field-name-field-tags ul li {
	float:left;
	margin:0 0 5px 10px;
}
.node-footer .field-name-field-tags ul li:first-child { margin-left:0; }
.node-footer .field-name-field-tags ul li a {
	font:inherit;
	font-weight:bold;
	padding:2px 8px;
}
.field-name-field-blog-tags ul {
	float:left;
	overflow:hidden;
}
.field-name-field-blog-tags ul:before {
	content:"\f02c";
	display:block;
	float:left;
	font-family:fontAwesome;
	margin-right:4px;
}
.addthis_button_compact { margin:0; }
.likebtn_container { padding-top:4px; }
.likebtn_container .lb-style-heartcross .lb-like-label, .likebtn_container .lb-style-heartcross .lb-dislike-label { color:#fff; }
.likebtn_container .lb-style-heartcross .lb-count { color:#fff; }
#comments {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
#comments .indented { margin-left:20px; }
.comment {
	background:rgba(0,0,0,0.35);
	border:1px solid #9e9993;
	margin-bottom:10px;
	padding:25px;
}
.comment .comment-submitted { margin:0 0 5px; }
.comment .comment-content { margin-bottom:20px; }
.comment .comment-footer { padding:0; }
#comment-form-wrapper {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
#comment-form .form-item {
	margin:0 0 15px;
	overflow:hidden;
	width:100%;
}
#comment-form label { vertical-align:middle; }
#comment-form .form-type-item label {
	float:left;
	padding-right:10px;
}
#comment-form .form-text { width:100%; }
#comment-form .form-textarea {
	height:200px;
	width:100%;
}
#comment-form .filter-wrapper {
	border:none;
	padding:0;
}
#comment-form .filter-wrapper .fieldset-wrapper > * { padding:0; }
#comment-form .filter-wrapper .filter-help { padding-top:15px; }
#comment-form .filter-wrapper .filter-help a {
	background:none;
	display:inline-block;
	padding:0;
}
#comment-form .filter-wrapper .form-item { width:auto; }
#comment-form .filter-wrapper label {
	display:inline-block;
	margin-right:15px;
}
#comment-form .form-actions {
	margin:0;
	padding-top:20px;
}
#comment-form .form-actions #edit-submit { margin-right:15px; }
#edit-comment-body-und-0-format-guidelines { clear:both; }
#edit-comment-body-und-0-format-guidelines ul { font:inherit; }
#edit-comment-body-und-0-format-guidelines ul li {
	background:none;
	overflow:hidden;
	margin:0;
	padding:0;
	width:100%;
}
.panels-flexible-region-11-contacts {
	float:none;
	width:100%;
}
.contact-form .form-item { position:relative; }
.contact-form input[type="text"], .contact-form textarea {
	position:relative;
	z-index:20;
}
.contact-form div.error {
	background-repeat:no-repeat;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	height:0;
	margin:0;
	opacity:0;
	filter:alpha(opacity=0);
	overflow:hidden;
	padding:0 10px 0 50px;
	-moz-transition:.4s ease;
	-o-transition:.4s ease;
	-webkit-transition:.4s ease;
	transition:.4s ease;
}
.contact-form .error ~ div.error {
	height:auto;
	margin:5px 0 0;
	opacity:1;
	filter:alpha(opacity=100);
	padding:10px 10px 10px 50px;
	-webkit-animation-duration:.4s;
	animation-duration:.4s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name:fadeInDown;
	animation-name:fadeInDown;
	z-index:2;
}
.action-links {
	overflow:hidden;
	padding:0 0 25px;
}
.action-links li {
	float:left;
	margin-left:10px;
}
.action-links li:first-child { margin-left:0; }
.action-links li a { font-weight:bold; }
#forum table td.topics, #forum table td.posts, #forum table td.replies { text-align:center; }
#forum table td.container { font-weight:bold; }
#forum table .description { margin:0; }
#forum table .indent { margin:0; }
#forum table .name { overflow:hidden; }
#forum table .description { clear:both; }
.field-name-taxonomy-forums, .field-type-taxonomy-term-reference {
	overflow:hidden;
	padding-top:20px;
	width:100%;
}
.field-name-taxonomy-forums.field-label-above, .field-type-taxonomy-term-reference.field-label-above { padding-top:0; }
.field-name-taxonomy-forums .field-label, .field-type-taxonomy-term-reference .field-label {
	background:none;
	font:inherit;
	font-weight:bold;
	margin:0;
	text-shadow:none;
	text-transform:uppercase;
}
.field-name-taxonomy-forums ul.links, .field-type-taxonomy-term-reference ul.links { margin-bottom:0; }
.field-name-taxonomy-forums ul.links li, .field-type-taxonomy-term-reference ul.links li {
	float:left;
	margin:0 0 5px;
}
.field-name-taxonomy-forums ul.links li:before, .field-type-taxonomy-term-reference ul.links li:before { content:', '; }
.field-name-taxonomy-forums ul.links li:first-child, .field-type-taxonomy-term-reference ul.links li:first-child { margin-left:0; }
.field-name-taxonomy-forums ul.links li:first-child:before, .field-type-taxonomy-term-reference ul.links li:first-child:before { content:''; }
.field-name-taxonomy-forums ul.links li a, .field-type-taxonomy-term-reference ul.links li a {
	background:none;
	border:none;
	box-shadow:none;
	color:#ffce55;
	display:inline;
	font:inherit;
	padding:0;
	text-shadow:none;
	text-transform:none;
}
.field-name-taxonomy-forums ul.links li a:hover, .field-type-taxonomy-term-reference ul.links li a:hover {
	background:none;
	text-decoration:underline;
}
.page-forum- #main-wrapper .active img {
	padding:0;
	background:0;
	border:none;
	margin-left:5px;
	margin-top:4px;
}
.page-page-404 .panel-col-first {
	color:#ffce55;
	font:bold 250px/200px 'Open Sans', sans-serif;
	text-align:center;
}
.panel-2col .panel-col-first .inside { margin:0 20px 0 0; }
.panel-2col .panel-2col .panel-col-last .inside { margin:0 0 0 20px; }
.page-testimonials .view-display-id-page .views-row { margin-top:30px; }
.page-testimonials .view-display-id-page .views-row:first-child { margin-top:0; }
.page-testimonials .view-display-id-page .views-field-field-testi-image {
	float:left;
	margin:0 20px 0 0;
	max-width:45%;
	width:80px;
}
.page-testimonials .view-display-id-page .views-field-nothing { margin-bottom:10px; }
.page-testimonials .view-display-id-page .views-field-nothing p { margin-bottom:0; }
.page-testimonials .view-display-id-page .views-field-nothing a { color:inherit; }
.page-testimonials .view-display-id-page .views-field-nothing a:hover {
	color:#ffce55;
	text-decoration:none;
}
.page-testimonials .view-display-id-page .views-field-field-testi-author, .page-testimonials .view-display-id-page .views-field-field-testi-author-info { text-align:right; }
.field-name-field-testi-image {
	float:left;
	margin:0 20px 0 0;
	max-width:45%;
}
.field-name-field-testi-author { font-weight:bold; }
.view-archive .field-name-body { margin-bottom:20px; }
.view-archive .views-row { margin-top:40px; }
.view-archive .views-row:first-child { margin-top:0; }
.view-archive .field-name-taxonomy-forums { padding-top:0; }
.view-FAQs.view-id-FAQs .views-row { margin-top:30px; }
.view-FAQs.view-id-FAQs .views-row:first-child { margin-top:0; }
.compose-tips .filter-type { margin-top:40px; }
.compose-tips .filter-type:first-child { margin-top:0; }
.view-comments-recent.view-display-id-page .views-row { margin-top:30px; }
.view-comments-recent.view-display-id-page .views-row:first-child { margin-top:0; }
.field-name-field-employee-position {
	color:#ffce55;
	font-size:15px;
	line-height:20px;
	margin-bottom:5px;
}
.field-name-field-employee-facebook { margin-left:0; }
.field-name-field-employee-facebook, .field-name-field-employee-twitter, .field-name-field-employee-google-plus {
	display:inline-block;
	margin-right:5px;
}
.employee-social-link {
	border:1px solid #ffce55;
	border-radius:50%;
	color:transparent;
	display:block;
	font-size:0;
	height:28px;
	line-height:0;
	text-align:center;
	text-decoration:none;
	width:28px;
}
.employee-social-link:before {
	color:#ffce55;
	font-size:16px;
	line-height:28px;
}
.employee-social-link:hover { border-color:#fff; }
.employee-social-link:hover:before { color:#fff; }
.node-type-employee .field-name-body { padding-top:20px; }
.sidebar { position:relative; }
.sidebar .block {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.sidebar .block:first-child {
	border-top:0 !important;
	margin-top:0 !important;
	padding-top:0 !important;
}
.not-logged-in .contextual-links { display:none !important; }
.contextual-links li {
	padding:0;
	background:none;
}
.calendar-calendar table, .calendar-calendar table td, .calendar-calendar table th, .calendar-calendar .month-view .full th.days { border:1px solid #9e9993; }
.calendar-calendar td.calendar-agenda-items, .calendar-calendar .month-view .full td.single-day .calendar-empty, .calendar-calendar .month-view .full td.single-day.empty, .calendar-calendar .month-view .full td.date-box.empty { border-color:#9e9993; }
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
	background-color:transparent;
	color:#ffce55;
	font-weight:bold;
}
.calendar-calendar th.days {
	background:rgba(0,0,0,0.35);
	border:none;
	color:#fff;
}
.calendar-calendar td { text-align:center; }
.calendar-calendar td .inner div, .calendar-calendar td .inner div a { background:none; }
.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview { background:rgba(0,0,0,0.35); }
.calendar-calendar .day-view .full td .inner div.calendar .views-field-created {
	color:#fff;
	float:left;
	width:50px;
}
.calendar-calendar .day-view .full td .inner div.calendar .views-field-title { overflow:hidden; }
.calendar-calendar .month-view .full tr td.single-day.today, .calendar-calendar .month-view .full td.date-box.today { border-color:#ffce55; }
.view-Calendar .pager .date-prev, .view-Calendar .pager .date-next, .view .date-nav-wrapper .date-prev, .view .date-nav-wrapper .date-next {
	background:none;
	border-radius:0;
	line-height:0;
	padding:0;
	top:6px;
}
.view-Calendar .pager .date-prev a, .view-Calendar .pager .date-next a, .view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a {
	background:#fff;
	color:transparent;
	display:block;
	font-size:0;
	height:22px;
	line-height:0;
	margin:0;
	padding:0;
	position:relative;
	text-align:center;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
	width:22px;
}
.view-Calendar .pager .date-prev a:before, .view-Calendar .pager .date-next a:before, .view .date-nav-wrapper .date-prev a:before, .view .date-nav-wrapper .date-next a:before {
	color:#fff;
	font-family:FontAwesome;
	font-size:12px;
	font-weight:normal;
	left:50%;
	line-height:22px;
	margin-left:-5px;
	margin-top:-11px;
	position:absolute;
	top:50%;
}
.view-Calendar .pager .date-prev a:hover, .view-Calendar .pager .date-next a:hover, .view .date-nav-wrapper .date-prev a:hover, .view .date-nav-wrapper .date-next a:hover { background:#ffce55; }
.view .date-nav-wrapper .date-prev { right:auto; }
.view .date-nav-wrapper .date-prev a:before { content:"\f060"; }
.view .date-nav-wrapper .date-next a:before { content:"\f061"; }
table .mini-day-on a { text-decoration:none; }
table .mini-day-on a:hover { text-decoration:underline; }
.sidebar #isotope-options #filters { text-align:left; }
.sidebar #isotope-options #filters li { margin:0 10px 5px 0; }
.gmap #gmap1 { height:480px; }
.gmap #gmap1 img { max-width:inherit; }
#block-views-our-team-block .views-row {
	margin-bottom:0;
	margin-top:20px;
	overflow:hidden;
}
#block-views-our-team-block .views-row.views-row.views-row-first { margin-top:0; }
#block-views-our-team-block .views-row .views-field-field-employee-photo {
	width:100px;
	float:left;
	margin-right:15px;
}
#block-views-our-team-block .views-row .views-field-body { margin-bottom:0; }
.poll .total, .poll .title { margin-bottom:15px; }
.poll .bar {
	background-color:rgba(0,0,0,0.35);
	border:1px solid #9e9993;
	height:20px;
	margin-bottom:15px;
	padding:1px;
}
.poll .bar .foreground {
	background-color:#ffce55;
	display:none;
	height:20px;
}
.poll .percent { float:right; }
.poll .vote-form {
	text-align:left;
	padding-bottom:15px;
}
.poll .vote-form .choices { width:100%; }
#block-poll-recent ul.links li {
	background:none;
	padding-left:0;
}
#block-views-comments-recent-block .views-row { margin-top:20px; }
#block-views-comments-recent-block .views-row:first-child { margin-top:0; }
#block-views-comments-recent-block .views-field-subject a { color:inherit; }
#block-views-comments-recent-block .views-field-subject a:hover {
	color:#ffce55;
	text-decoration:none;
}
.contextual-links-region .node-title a { color:inherit; }
.contextual-links-region .node-title a:hover {
	color:#ffce55;
	text-decoration:none;
}
#block-views-recent-posts-block .views-row { margin-top:20px; }
#block-views-recent-posts-block .views-row:first-child { margin-top:0; }
#block-views-recent-posts-block .views-field-body {
	clear:both;
	padding-top:10px;
}
#search-block-form .element-invisible, [id^="search-block-form"] .element-invisible { display:none !important; }
#search-block-form .container-inline, [id^="search-block-form"] .container-inline {
	border:1px solid #9e9993;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	background:rgba(0,0,0,0.35);
}
#search-block-form .form-item-search-block-form, [id^="search-block-form"] .form-item-search-block-form {
	display:block;
	margin:0 30px 0 0;
}
#search-block-form input.form-text, [id^="search-block-form"] input.form-text {
	background:none;
	border:none;
	display:block;
	margin:0;
	width:100%;
}
#search-block-form [id^=edit-actions], [id^="search-block-form"] [id^=edit-actions] { z-index:1; }
#search-block-form [id^=edit-actions]:after, [id^="search-block-form"] [id^=edit-actions]:after {
	color:#fff;
	content:"\f002";
	cursor:pointer;
	font:20px/30px FontAwesome;
	margin-top:-16px;
	position:absolute;
	right:0;
	text-align:center;
	top:50%;
	width:30px;
	z-index:1;
}
#search-block-form [id^=edit-actions]:hover:after, [id^="search-block-form"] [id^=edit-actions]:hover:after { color:#ffce55; }
#search-block-form .form-submit, [id^="search-block-form"] .form-submit {
	background:none;
	border:none;
	border-radius:0;
	bottom:0;
	box-shadow:none;
	color:transparent;
	cursor:pointer;
	display:block;
	font-size:0;
	line-height:0;
	margin:0 !important;
	padding:0;
	position:absolute;
	right:0;
	top:0;
	width:30px;
	z-index:2;
}
.block-simple-subscription-subscribe input[type="text"] { width:100%; }
.progressbar .progressbar-wrap { background:#9e9993; }
.progressbar .progressbar-background { background:#ffce55; }
.footer_top_wrapper { border-bottom:1px solid #e9e8e5; }
.region-footer-top { padding:48px 0 42px; }
#footer {
	clear:both;
	padding:0;
	position:relative;
}
.region-footer { padding:39px 0 35px; }
.region-footer, .region-footer-top {
	text-align:center;
	color:#7d736a;
}
.region-footer a, .region-footer-top a { color:#7d736a; }
.region-footer a:hover, .region-footer-top a:hover { color:#88c942; }
.footer-menu .content ul {
	margin:0;
	overflow:hidden;
	width:100%;
	text-align:center;
}
.footer-menu .content ul li {
	position:relative;
	background:none;
	float:none;
	font-size:16px;
	line-height:20px;
	display:inline-block;
	margin:0 0 0 56px;
	padding:0;
	font-weight:400;
	text-transform:lowercase;
}
.footer-menu .content ul li:after {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	content:'';
	display:inline-block;
	width:9px;
	height:26px;
	position:absolute;
	left:-33px;
	top:0;
	background:url(../images/menu.png) 0 0 no-repeat;
}
.footer-menu .content ul li:first-child { margin-left:0; }
.footer-menu .content ul li:first-child:after { display:none; }
.footer-menu .content ul li a {
	color:inherit;
	text-decoration:none;
}
.footer-menu .content ul li a:hover, .footer-menu .content ul li a.active {
	color:#ee3968;
	text-decoration:none;
}
.block-copyright { font-weight:600; }
.block-copyright a { color:inherit; }
.block-copyright a:hover {
	color:#88c942;
	text-decoration:none;
}
#backtotop {
	background:#be1e2d;
	border:1px solid #e9e8e5;
	border-radius:50%;
	bottom:30px;
	color:transparent;
	font-size:0;
	line-height:0;
	margin-right:0 !important;
	padding:0;
	position:fixed;
	right:40px !important;
	text-align:center;
	text-decoration:none;
	width:60px;
	z-index:5;
	opacity:1;
}
#backtotop:after {
	color:#c5c5c5;
	content:"\f077";
	font:normal 25px/60px FontAwesome;
}
#backtotop:hover:after { color:#fff; }
.switcher {
	cursor:pointer;
	margin-top:10px;
	font-size:11px;
}
.switcher:hover { text-decoration:underline; }
.panels-flexible-region-13-center { width:100%; }
.parallax { background:url(../images/parallax.jpg) center top no-repeat; }
