/* This CSS is added until http://drupal.org/node/1015798 gets committed to D7 core css
   or something else gets done about the missing fieldset borders and titles.
   Jonathan Smith, August 2011 */

div.vertical-tabs div.vertical-tabs-panes fieldset.vertical-tabs-pane fieldset legend {
	display: inline-block;
}

.vertical-tabs .form-type-textfield input {
	width: auto; /* See: http://drupal.org/node/1143712#comment-4697172 */
	max-width: 100%; /* Prevent text inputs from overflowing when container is too narrow. */
}

.vertical-tabs fieldset fieldset {
	background-color: #F6F6F6;
}

/* This is required for the SEVEN theme. */
/* Padding stops the fieldsets overlapping, margin gives space between. */
div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset {
	border: 1px solid #ccc;
	margin: 1em 0 0;
	padding: 1em 0 0;
}

fieldset .fieldset-legend {
	margin-top: 0.2em;
}

fieldset .fieldset-wrapper {
	padding-top: 5px;
}

html.js fieldset.collapsed {
	height: 20px;
}

/* This is only required for the RUBIK theme. */
/* Add border and top padding the actual content, which is the second nested div having have class=fieldset-content */
div.vertical-tabs.rubik div.vertical-tabs-panes div.fieldset-content fieldset.titled div.fieldset-content {
	border: 1px solid #ccc;
	padding-top: 2.5em;
}

/* Add spacing below description */

.vertical-tabs-pane .fieldset-wrapper .fieldset-description {
	padding-bottom: 10px;
}

.form-item-theme927-sticky-menu,
.form-item-theme927-breadcrumb-show,
#edit-theme927-breadcrumb-container,
.form-item-theme927-blog-title,
.form-item-theme927-custom-css {
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	margin: 1em 0 0;
	padding: 1em 13px 13px 15px;
}

.form-item label {
	margin-bottom: 5px;
	text-transform: uppercase;
}

#edit-theme927-regions .fieldset-wrapper {
	padding-top: 13px;
}
#edit-theme927-regions label{
	text-transform: none;
}