@import url(//fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(//fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,900,700);
@import url(//fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800);/*font-family: 'Raleway', sans-serif;*/
@import url('mixins.less');


/* Table of Contents:
   1. General
   2. Header top
   3. Header
   4. Header bottom
   5. Content top
   6. Content
   7. Content bottom
   8. Pages
   9. Sidebar and blocks
   10. Shortcodes
   11. Footer top
   12. Footer
*/



/*==========================================================================
1. GENERAL
===========================================================================*/

body {
	-webkit-tap-highlight-color: @linkColor;
	background: #fff;
	color: @textColor;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	min-width: 1250px;
	position: relative;
}

#page-wrapper {
	overflow: hidden;
}


/* Titles
===========================================================================*/

h1 {
	color: @titleTextColor;
	font: 400 50px/50px @titleFontFamily;
	margin-bottom: 34px;
}

h2 {
	color: @titleTextColor;
	text-transform: uppercase;
	font: 400 36px/48px @titleFontFamily;
	margin-bottom: 30px;
}

h3,
#block-tm-follow-user h2/*,
#block-forum-active h2,
#block-forum-new h2*/ {
	color: @titleTextColor;
	font: 400 26px/36px @titleFontFamily;
	margin-bottom: 20px;
}

.profile h3,
#block-tm-follow-user h2 {
	border-bottom: 1px solid @borderColor;
	overflow: hidden;
	padding-bottom: 5px;
}

h4 {
	color: @titleTextColor;
	text-transform: uppercase;
	font: 600 18px/24px 'Raleway', sans-serif;
	margin-bottom: 14px;
}

h5 {
	color: @titleTextColor;
	font: 400 16px/24px @titleFontFamily;
	margin-bottom: 15px;
}

h6 {
	color: @titleTextColor;
	text-transform: uppercase;
	font: 600 14px/20px 'Raleway', sans-serif;
	margin-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: @linkColor;
			text-decoration: none;
		}
	}
}


/* Forms
===========================================================================*/

input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
	background: @altBg;
	border: 1px solid @borderColor;
	.box-sizing(border-box);
	color: @textColor !important;
	font: @baseFontSize @baseFontFamily;
	max-width: 100%;
	padding: 5px 10px 6px;
}

fieldset {
	border-color: @borderColor;
}

label {
	display: inline-block;
}

#search-form .form-item {
	display: block;
}

#user-login,
#contact-site-form,
.search-form {
	.form-text {
		width: 100%;
	}
}

#contact-site-form label {
	vertical-align: middle;
}


/* Links
===========================================================================*/

a {
	color: @linkColor;
	text-decoration: none;
	.transition(all 0.3s ease);

	&:hover {
		text-decoration: none;
		color: @linkHoverColor;
	}
}

.btn a,
.more-link a,
input[type="submit"],
input[type="reset"],
ul.links li a,
.view-portfolio .views-field-view-node a,
#block-poll-recent ul.links li a,
#filters li a,
.content ul.pager li a,
.content ul.pager li.pager-current,
.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a,
.form-submit {
	background: url(../images/btn.png) 100% 7px no-repeat;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: #928573;
	display: inline-block;
	font: 700 18px/22px @baseFontFamily;
	outline: none;
	padding: 0 20px 0 0;
	text-decoration: none;
	text-transform: lowercase;
}
	.btn a:hover,
	.more-link a:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	ul.links li a:hover,
	.view-portfolio .views-field-view-node a:hover,
	#block-poll-recent ul.links li a:hover,
	#filters li a:hover,
	#filters li a.selected,
	.content ul.pager li a:hover,
	.content ul.pager li.pager-current,
	.view .date-nav-wrapper .date-prev a:hover,
	.view .date-nav-wrapper .date-next a:hover,
	.form-submit:hover {
		background: url(../images/btn.png) 100% 7px no-repeat;
		color: @white;
		text-decoration: none;
	}
#filters li a,
.content ul.pager li a,
.content ul.pager li.pager-current {
	font-size: 12px;
	line-height: 15px;
	font-weight: 400;
	color: @white;
	padding: 7px 15px 9px;
	border: 1px solid @borderColor;
	background: rgba(0,0,0,.2);
}
	#filters li a:hover,
	#filters li a.selected,
	.content ul.pager li a:hover,
	.content ul.pager li.pager-current {
		background: @linkHoverColor;
		border-color: @linkHoverColor;
	}

.custom-btn {
	a {
		font-family: @titleFontFamily;
		font-size: 32px;
		line-height: 39px;
		background: #e9003c;
		color: @white;
		text-transform: uppercase;
		padding: 9px 25px;
		&:hover {
			background: #a8d500;
		}
	}
}
.icon-link {
	font-weight: 400;
	a {
		color: @white;
		&:hover {
			color: @linkColor;
		}
	}
}
input[type="submit"],
input[type="reset"] {
	margin-right: 10px;
}

.more-link {
	padding-top: 20px;
	text-align: left;
}


/* Lists
===========================================================================*/

ul,
.item-list ul,
ul.menu {
	margin: 0 0 @baseLineHeight;

	li {
		background: url(../images/list-marker.png) 0 7px no-repeat;
		list-style: none;
		font-weight: 700;
		text-transform: uppercase;
		margin: 8px 0 0;
		padding: 0 0 0 23px;

		&:first-child {
			margin-top: 0;
		}

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: @linkColor;
				text-decoration: none;
			}
		}

		ul {
			padding-top: 10px;
		}
	}
}

/* Reset styles for lists */
ul.tabs,
ul.flex-direction-nav,
ul.links,
ul#admin-menu-menu,
ul#admin-menu-account,
ul#admin-menu-icon,
ul.slides,
ul.contextual-links,
ul.tips,
ul.pager,
.messages.error ul,
.rate-widget ul {
	li {
		background: none;
		font: inherit;
		margin-top: 0;
		padding-left: 0;
	}
}

.messages.error ul li {
	list-style: disc;
}

#admin-menu,
#admin-menu .dropdown{
	z-index: 10000;
}


/* Images
===========================================================================*/

img {
	.box-sizing(border-box);
	height: auto;
	max-width: 100%;
	width: auto;
	
	&.lazyloader-icon {
		width: auto !important;
	}
}

.frame,
.field-type-image,
.views-field-field-image,
.views-field-field-blog-media,
.view-portfolio .isotope-element .views-field-field-portfolio-image,
.field-name-field-blog-media,
.field-name-field-image,
.field-name-field-portfolio-image,
.field-name-field-service-image,
.field-name-field-employee-photo,
.field-name-field-banner-image,
.field-name-field-slide-image {
	margin-bottom: 20px;
	position: relative;
}

.field-name-field-banner-image{
	width: 250px;
}

.user-picture {
	background: none;
	float: left;
	margin-right: 15px;
	max-width: 45%;
	padding: 0;

	.profile & {
		float: right;
		margin: 0 0 0 20px;
	}
}


/* Paragraph
===========================================================================*/

p {
	margin-bottom: 15px;
}


/* Tables
===========================================================================*/

table {
	margin-bottom: 0;

	tr.odd,
	tr.even {
		border: none;
	}

	tr.odd {
		background: transparent;
	}

	tr.even {
		background: @altBg;
	}

	th {
		background: @altBg;
		border: none;
		color: @linkColor;
		font-size: 14px;
		padding: 5px;

		a {
			color: inherit;
			
			&:hover{
				color: @linkColor;
				text-decoration: none;
			}
		}
	}

	td {
		padding: 5px;
	}
}


/* Classes
===========================================================================*/


.extra-wrap {
	overflow: hidden;
}

.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.clearfix {
	position: relative;

	&:after {
		clear: both;
		content: '\0020';
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		width: 0;
	}
}

.fclear {
	clear: both;
}

.separator {
	clear: both;
	height: 40px;
}

.separator-top {
	border-top: 0;
	clear: both;
	margin-top: 50px;
	padding-top: 0;
}

.separator-bottom {
	border-bottom: 0;
	margin-bottom: 50px;
	padding-bottom: 0;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}
.color-1 {
	color: #ffbf1c;
}
.indent-1 {
	margin-bottom: 40px;
}
.img-left {
	float: left;
	margin: 0 30px 20px 0;
	max-width: 35%;
}
/* Regions
===========================================================================*/

.region-header-top:after,
.region-header:after,
.region-header-bottom:after,
.region-content-top:after,
.region-content:after,
.region-content-bottom:after,
.region-footer-top:after,
.region-footer:after {
	clear: both;
	content: '';
	display: block;
	width: 100%;
}

.video-bg,
.img-bg {
	.region {
		padding-bottom: 20px;
		padding-top: 20px;
		&.region-header-bottom {
			padding: 65px 0;
		}
		&.region-content-video {
			padding: 75px 0 50px;
		}
	}
}

.video-bg {
	background: #160f05;
	>.container-12 {
		z-index: 5;
	}
	>.mbYTP_wrapper {
		z-index: 4 !important;
	}
	/*background: url(../images/ajax-loader.gif) center center no-repeat;*/
	.video-loader {
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		width: 120px;
		height: 120px;
		margin: -60px 0 0 -60px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #e9003c;
		-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
		animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
		z-index: 1;
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: #b3e22a;
			-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
			animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
		}
		&:after {
			content: "";
			position: absolute;
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: #ffce55;
			-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
			animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
		}
	}
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}


::selection,
::-moz-selection {
	background: @linkColor;
	color:#fff;
	text-shadow:none;
}

img::selection,
img::-moz-selection {
	background: transparent;
}



/*==========================================================================
2. HEADER TOP
===========================================================================*/

.region-header-top {
	margin-bottom: 30px;
}



/*==========================================================================
3. HEADER
===========================================================================*/

#header {
	position: relative;
	width: 100%;
}
.header-section-1 {
	padding: 37px 0 40px;
	background: @white;
}
.stickup{
	.transition(all 0.4s ease);
	z-index: 9999;
}

.isStuck{
	left: 0;
	right: 0;
	top: 0;
	.header-section-1 {
		.transition(all 0.4s ease);
		padding: 15px 0;
	}
	#superfish-1 > li ul {
		top: 47px;
	}
	#superfish-1 > li ul li ul {
		top: -15px;
	}
}


/* Logo
===========================================================================*/

#logo {}

.img-logo {}

.site-name {
	margin-bottom: 0;

	a:hover {
		color: inherit;
		text-decoration: none;
	}
}

.slogan {}


/* Menu
===========================================================================*/

.select-menu {
	display: none !important;
}
.region-menu {
	padding: 20px 0 12px;
}
#superfish-1 {
	background: none;
	margin-bottom: 0;
	padding: 0;
	width: 100%;
	z-index: 101;
	text-align: right;

	> li {
		position: relative;
		display: inline-block;
		float: none;
		background: none;
		border: 0;
		font: 300 16px/20px @baseFontFamily;
		margin: 0 0 0 58px;
		overflow: inherit;
		padding: 0;
		text-transform: lowercase;
		&:after {
			.transition(all 0.3s ease);
			content: '';
			display: inline-block;
			width: 9px;
			height: 26px;
			position: absolute;
			left: -33px;
			top: 0;
			background: url(../images/menu.png) 0 0 no-repeat;
		}
		&:first-child{
			margin-left: 0;
			&:after {
				display: none;
			}
		}


		> a {
			color: @black;
			text-decoration: none;

			.sf-sub-indicator {
				background: none;
				font: inherit;
				height: auto;
				margin-left: 5px;
				overflow: visible;
				position: static;
				text-indent: 0;
				width: auto;
				display: none;
			}
		}

		> a:hover,
		&.active-trail > a,
		&.sfHover > a {
			color: #e9003c;
			text-decoration: none;

			.sf-sub-indicator {}
		}

		ul {
			background: #e9003c;
			display: none;
			padding: 15px 0 11px;
			top: 72px;
			width: 150px !important;
			text-align: center;

			li {
				background: none;
				border-bottom: 0;
				float: none !important;
				font-size: 15px;
				line-height: 35px;
				font-weight: 300;
				height: auto;
				margin: 0;
				padding: 0;
				text-transform: lowercase;
				width: auto !important;

				> a:visited,
				> a {
					color: #fff;
					text-decoration: none;

					.sf-sub-indicator {
						background: none;
						display: inline-block;
						font: inherit;
						height: auto;
						margin-left: 5px;
						overflow: visible;
						position: static;
						text-indent: 0;
						width: auto;
					}
				}

				> a:hover,
				&.active-trail > a,
				&.sfHover > a {
					color: #fdf4cb;
					text-decoration: none;
				}

				ul {
					background: @linkHoverColor;
					left: 101% !important;
					top: -15px;
				}
			}
		}
	}
	
	.sf-megamenu {
		width: auto !important;

		> li > ol {
			vertical-align: top;
			white-space: nowrap;
			
			> li{
				line-height: 26px;
				display: inline-block;
				margin: 0 15px;
				padding: 0;
				vertical-align: top;
				width: 140px !important;
				white-space: normal;
				
				&:first-child {
					margin-left: 0;
				}
				
				a {
					color: #fff;
					text-decoration: none;
				}
				
				a:hover,
				a.active,
				&.active-trail > a,
				&.sfHover > a {
					color: #2b1915;
					text-decoration: none;
				}
				
				ol {
					padding: 0;

					li {
						line-height: 26px;
						display: block;
						float: none !important;
						margin-left: 0;
						padding: 0;
					}
				}
			}
		}
	}
}


/* Slider
===========================================================================*/

.flex-viewport {
	.transition(none);
}

.flexslider {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
}

#flexslider-1 {
	margin: 0 460px 0 0;
	.slides li {
		padding: 0;
		
		&:before {
			bottom: 0;
			content: '';
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}

		img {
			width: 100%;
		}
	}

	.flex-control-nav {
		bottom: 20px;
		font-size: 0;
		line-height: 0;
		z-index: 20;

		li a {
			box-shadow: none;
		}
	}

	.flex-control-thumbs li {
		width: 20%;
	}

	.flex-direction-nav {
		a {
			&.flex-prev {}
			&.flex-next {}
			&:hover {}
			
			&:before{
				line-height: 40px;
			}
		}
	}

	&:hover .flex-next {
		opacity: 1;
		right: 0;
	}

	&:hover .flex-prev {
		opacity: 1;
		left: 0;
	}

	.flex-caption {
		box-sizing: border-box;
		bottom: 0;
		top: 0;
		right: -460px;
		position: absolute;
		width: 460px;
		font-weight: 300;
		z-index: 99;
		background: #f6f6f6 url(../images/icon-slider.png) 90px 79px no-repeat;
		padding: 150px 50px 0 90px;
		color: #7e7e7e;
		h2 {
			color: #38332a;
			margin-bottom: 9px;
		}
		p {
			margin-bottom: 25px;
		}
		.slide-btn {
			a {
				display: inline-block;
				text-indent: -9999px;
				text-align: center;
				width: 24px;
				height: 24px;
				position: relative;
				color: #d3d3d3;
				&:after {
					font-family: FontAwesome;
					position: absolute;
					left: 0;
					top: 0;
					text-indent: 0;
					content: '\f18e';
					display: inline-block;
					line-height: 24px;
					font-size: 25px;
				}
				&:hover {
					color: #b3e22a;
				}
			}
		}
	}
}



/*==========================================================================
4. HEADER BOTTOM
===========================================================================*/

.header_bottom_wrapper {
	background-color: #1d1f23;
}



/*==========================================================================
5. CONTENT TOP
===========================================================================*/

.content_top_wrapper {
	margin-bottom: 30px;
}
.region-content-top {
	padding: 45px 0 25px;
}


/*==========================================================================
6. CONTENT
===========================================================================*/

#main-wrapper {
	background: #6a6151 url(../images/main-bg.jpg) center top repeat;
	padding: 1px 0 0;
}
#main {
	padding: 70px 0 30px;
}
.content-bg {
	position: relative;
	background: rgba(0,0,0,.35);
	&:after,&:before {
		content: '';
		display: inline-block;
		position: absolute;
		bottom: 0;
		top: 0;
		background: rgba(0,0,0,.35);
	}
	&:after {
		left: 100%;
		right: -1000%;
	}
	&:before {
		right: 100%;
		left: -1000%;
	}
}
.region-content {
	padding: 0;
}

.views-row {
	margin-bottom: 30px;

	&.last {
		margin-bottom: 0;
	}
}


/* System messages
===========================================================================*/

div.messages {
	margin-bottom: 30px;
	padding-right: 30px;

	.dismiss {
		box-shadow: none;
		border-radius: 2px;
		font-family: @baseFontFamily;
		line-height: normal;
		padding: 2px 6px 4px;
		text-transform: lowercase;
		width: auto;

		&:hover {
			color: #fff;
			text-shadow: none;
		}
	}
}


/* Breadcrumbs
===========================================================================*/

#breadcrumb {
	color: @textColor;
	margin-bottom: 30px;
	padding: 0;

	a {
		color: inherit;
		padding: 0 3px;
		text-decoration: none;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&:hover {
			color: @linkColor;
		}
	}
}


/* Admin tabs
===========================================================================*/

.tabs-wrapper {
	margin: 1px 0 20px;
}

.tabs {
	overflow: hidden;
}

.tabs ul.primary {
	border: 0;
	border-bottom: 1px solid @borderColor;
	margin: 0 0 20px;
	overflow: hidden;
	padding: 4px 0;

	li {
		margin-bottom: -1px;

		a {
			background: @altBg;
			border: 1px solid @borderColor;
			border-bottom: 0;
			border-radius: 3px 3px 0 0;
			color: @textColor;
			font-size: 12px;
			font-weight: normal;
			margin: 0;
			overflow: hidden;
			padding: 3px 15px 4px;
			text-shadow: none;
			.transition(all 0.1s linear);
		}

		&.active a,
		a:hover {
			background: @linkHoverColor;
			border-color: darken(@linkHoverColor, 3%);
			color: @white;
			text-decoration: none;
		}
	}
}


/* Tiled gallery
===========================================================================*/


.portfolio-filters {
	margin-bottom: 40px;
}

.tm-masonry-filter {
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		background: none;
		display: inline-block;
		padding: 0;
		
		&:before {
			background-color: @linkColor;
			bottom: 3px;
			content: "";
			display: inline-block;
			height: 5px;
			margin: 0 10px;
			position: relative;
			width: 5px;
		}
		
		&:firts-child:before {
			display: none;
		}
	
		a {
			color: @textColor;
			text-decoration: none;

			&.active,
			&:hover {
				color: @linkColor;
			}
		}
	}
}

.tm-masonry-item {
	position: relative;

	.field-type-image {
		float: none !important;
		max-width: 100% !important;
		text-align: center;
		width: 100% !important;
	}
	
	.node-header {
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: -100%;
		z-index: 999;
		.transition(0.6s ease);
	}
	
	.node-title {
		font-weight: 400;
		margin: 0;
		position: relative;
	}
	
	a.colorbox {
		background: #fff;
		text-align: center;

		&:after {
			background: none;
			color: #000;
			content: "\f00e";
			font: 30px/30px FontAwesome;
			left: 51%;
			margin: -15px 0 0 0;
			position: absolute;
			top: -100%;
			z-index: 999;
			.transition(0.6s ease);
		}
		
		&:hover {
			img {
				.opacity(50);
			}
		}
	}
	
	.node-footer {
		margin: -15px 0 0 0;
		padding: 0;
		position: absolute;
		right: 51%;
		top: -100%;
		z-index: 999;
		.transition(0.6s ease);

		.node-readmore a {
			background: none;
			color: transparent;
			font-size: 0;
			line-height: 0;
			padding: 0;

			&:after {
				color: #000;
				content: "\f0c1";
				font: 30px/30px FontAwesome;
			}
		}
	}
	
	&:hover {
		.node-footer,
		a.colorbox:after {
			top: 40%;
		}
		
		.node-header {
			top: 60%;
		}
	}
}


/* Blocks
===========================================================================*/
#block-views-expertise-block {
	.views-field-field-expertise-image {
		float: left;
		width: 367px;
		margin: 0 30px 15px 0;
		max-width: 49%;
	}
}
#block-views-services-block {
	.views-row {
		.views-field-field-service-image {
			margin-bottom: 37px;
		}
		h2 {
			letter-spacing: -2px;
			word-spacing: -2px;
			margin-bottom: 23px;
			padding-bottom: 15px;
			border-bottom: 1px solid #cfcec4;
		}
	}
}
#block-tm-follow-site {
	h2 {
		text-align: center;
	}
	.tm-follow-links {
		text-align: center;
		.tm-follow-link-wrapper {
			float: none;
			display: inline-block;
			margin: 0 14px;
			position: relative;
			&:after {
				.transition(all 0.3s ease);
				content: '';
				display: inline-block;
				width: 1px;
				height: 18px;
				position: absolute;
				background: #8b8780;
				bottom: 4px;
				left: -14px;
			}
			&:first-child {
				&:after {
					display: none;
				}
			}
			a {
				padding: 52px 0 0;
				color: @white;
				&.tm-follow-link-facebook {
					background: url(../images/icon-facebook.png) center top no-repeat;
					&:before {
						display: none;
					}
				}
				&.tm-follow-link-twitter {
					background: url(../images/icon-twitter.png) center top no-repeat;
					&:before {
						display: none;
					}
				}
				&.tm-follow-link-googleplus {
					background: url(../images/icon-google.png) center top no-repeat;
					&:before {
						display: none;
					}
				}
				&:hover {
					color: @linkHoverColor;
				}
			}
		}
	}
}
#block-views-solution-block {
	.views-field-field-solution-icon {
		float: left;
		margin: 0 20px 0 0;
	}
}
#block-block-9 {
	.block-content {
		font-size: 36px;
		line-height: 48px;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		padding: 0 70px;
	}
}
#block-block-8 {
	h2 {
		text-align: center;
		padding: 0 95px;
		margin-bottom: 70px;
	}
	.custom-block-1 {
		background: #dcd6da url(../images/page1_img1.jpg) right top no-repeat;
	}
	.custom-caption {
		box-sizing: border-box;
		width: 386px;
		background: @white;
		padding: 88px 0 50px 60px;
		min-height: 425px;
		.title {
			text-transform: uppercase;
			font-size: 56px;
			line-height: 46px;
			font-family: @titleFontFamily;
			color: #ffbf1c;
			margin-bottom: 57px;
			span {
				display: block;
				color: #ff6045;
			}
		}
	}
}

.banner-wrap {
	position: relative;
	&:after,&:before {
		content: '';
		display: inline-block;
		position: absolute;
		bottom: 0;
		top: 0;
		background: #38332d;
	}
	&:after {
		left: 100%;
		right: -9999px;
	}
	&:before {
		left: -9999px;
		right: 100%;
	}
	ul {
		.clearfix();
		margin: 0;
		li {
			background: none;
			float: left;
			padding: 0;
			margin: 0;
		}
	}
	.banner {
		display: block;
		height: 404px;
		position: relative;
		padding: 0;
		overflow: hidden;
		.transition(all 0.4s ease);
		&-1 {
			width: 468px;
			background: url(../images/banner-img-1.jpg) center 0 no-repeat;
			&:hover {
				.title-1 {
					background-color: #e9003c;
				}
			}
		}
		&-2 {
			width: 376px;
			background: url(../images/banner-img-2.jpg) center 0 no-repeat;
			&:hover {
				.title-2 {
					background-color: #f6e011;
				}
			}
		}
		&-3 {
			background: #e9003c;
			width: 288px;
			color: @white;
			box-sizing: border-box;
			padding: 93px 15px 0 35px;
			&:hover {
				background: #f6e011;
				.title-3:after {
					background: @white;
				}
				.banner-btn {
					i {
						color: @white;
					}
				}
			}
		}
		.title-1 {
			.transition(all 0.4s ease);
			font-family: @titleFontFamily;
			font-size: 36px;
			line-height: 135px;
			text-transform: uppercase;
			background: #a2ce25 url(../images/title-bg-1.png) 95% 22px no-repeat;
			height: 135px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			letter-spacing: -1px;
			color: @white;
			padding: 0 120px 0 35px;
		}
		.title-2 {
			.transition(all 0.4s ease);
			text-align: center;
			font-family: @titleFontFamily;
			font-size: 30px;
			line-height: 135px;
			background: #fff;
			height: 135px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			color: #313131;
		}
		.title-3 {
			font-family: @titleFontFamily;
			text-transform: uppercase;
			display: block;
			font-size: 24px;
			line-height: 36px;
			position: relative;
			padding-bottom: 29px;
			margin-bottom: 31px;
			&:after {
				.transition(all 0.3s ease);
				content: '';
				display: inline-block;
				height: 1px;
				position: absolute;
				bottom: 0;
				left: -50px;
				right: -50px;
				background: #f7a3b9;
			}
		}
		.banner-btn {
			padding-top: 29px;
			display: block;
			i {
				.transition(all 0.3s ease);
				font-size: 25px;
				color: #f6e011;
			}
		}
	}
}


/*==========================================================================
7. CONTENT BOTTOM
===========================================================================*/

.content_bottom_wrapper {
	margin-top: 50px;
}
.region-content-bottom {
	padding-bottom: 50px;
	h2 {
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 30px;
	}
}


/*==========================================================================
8. PAGES
===========================================================================*/

/* Portfolio
===========================================================================*/

#isotope-container {
	margin-left: -10px;
	margin-right: -10px;
}

.isotope-element {
	background: none;
	.box-sizing(border-box);
	color: inherit;
	margin: 0 10px 30px;
	height: auto;
	overflow: visible;
	padding: 0;
	position: relative;
	width: auto;

	.views-field-field-portfolio-image {
		background: url(../images/ajax-loader.gif) center center no-repeat #fff;
		margin-bottom: 25px;

		a {
			background: @black;
			display: block;
			overflow: hidden;
			position: relative;
			text-decoration: none;

			&:after {
				.transition(all 0.4s ease);
				background: none;
				color: @linkHoverColor;
				content: "\f00e";
				font: 0px/80px FontAwesome;
				left: 50%;
				margin: -40px 0 0 -40px;
				position: absolute;
				top: 50%;
				z-index: 999;
			}

			&:hover:after {
				font-size: 80px;
			}
		}

		img {
			width: 100%;
		}
	}

	.views-field-body {
		margin-bottom: 25px;
	}
}

#isotope-options {
	background: none;

	#filters {
		margin-bottom: 20px;
		text-align: right;

		li {
			display: inline-block;
			margin-left: 10px;
			margin-bottom: 10px;
			padding: 0;
			background: none;
		}
	}
}

/* Categories */
.field-name-field-portfolio-category {
	ul {
		float: left;
		overflow: hidden;
		
		&:before {
			content: "\f02e";
			display: block;
			float: left;
			font-family: fontAwesome;
			margin-right: 4px;
		}
	}
}


/* Blog
===========================================================================*/

.page-blog .content-header ul{
	margin-bottom: 0;
	
	li{
		background: none;
		padding: 0;
	}
}

.node {
	.separator-top;

	&:first-child {
		background: none;
		border-top: 0;
		margin-top: 0;
		padding-top: 0;
	}
}

/* Author & date information */
.node-header {
	margin-bottom: 20px;
}
	
	.node-title {
	}
	
	.node-submitted {
		margin: 0;
		.fa {
			color: @linkHoverColor;
			margin-right: 5px;
		}
		a {
			color: inherit;
			
			&:hover{
				color: @linkColor;
				text-decoration: none;
			}
		}
		
		.node-author,
		.node-time,
		.node-views {
			margin-right: 7px;
		}
		
		.node-comments {}
	}

/* Blog image */
.node-teaser .field-type-file,
.node-teaser .field-type-image,
.node-employee .field-type-image {
	float: left;
	margin: 0 30px 5px 0;
	max-width: 45%;
	width: 435px;
}

/* Blog video */
.media-vimeo-video{
	padding-bottom: 50.2%;
	
	.node-teaser &{
		padding-bottom: 63.2%;
	}
}
.media-youtube-video{
	padding-bottom: 50.2%;
	
	.node-teaser &{
		padding-bottom: 63.2%;
	}
}
.media-vimeo-video,
.media-youtube-video {
	height: 0;
	overflow: hidden;
	padding-top: 30px;
	position: relative;
	
	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

/*Blog links */
.links {
	list-style: none;

	li {
		display: inline-block !important;
		margin-bottom: 5px;
		margin-right: 5px;
	}
}

/* Pagination */
.content ul.pager {
	margin-top: 30px;
	text-align: left;

	li {
		margin: 0px 1px 5px;
		padding: 0;
		display: inline-block;
	}
}


/* Node Tags */
.node-footer {
	padding-top: 30px;

	.field-name-field-tags {
		padding-top: 20px;

		.field-label {
			background: none;
			float: left;
			font: inherit;
			font-weight: bold;
			margin-right: 15px;
			padding: 0;
			text-shadow: none;
			text-transform: none;
		}

		.field-items {
			overflow: hidden;
			padding-bottom: 15px;
			width: 100%;
		}

		ul li {
			float: left;
			margin: 0 0 5px 10px;

			&:first-child {
				margin-left: 0;
			}

			a {
				font: inherit;
				font-weight: bold;
				padding: 2px 8px;
			}
		}
	}
}

/* Tags */
.field-name-field-blog-tags {
	ul {
		float: left;
		overflow: hidden;
		
		&:before {
			content: "\f02c";
			display: block;
			float: left;
			font-family: fontAwesome;
			margin-right: 4px;
		}
	}
}

/* Add this */
.addthis_button_compact {
	margin: 0;
}

/* Likes */
.likebtn_container {
	padding-top: 4px;
	.lb-style-heartcross .lb-like-label, .lb-style-heartcross .lb-dislike-label {
		color: @titleTextColor;
	}
	.lb-style-heartcross .lb-count {
		color: @white;
	}
}

/* Comments */
#comments {
	.separator-top;

	.comments-title {}

	.indented {
		margin-left: 20px;
	}
}

.comment {
	background: @altBg;
	border: 1px solid @borderColor;
	margin-bottom: 10px;
	padding: 25px;
	
	.comment-title {}
	
	.comment-submitted {
		margin: 0 0 5px;
	}
	
	.comment-content {
		margin-bottom: 20px;
	}

	.comment-footer {
		padding: 0;
	}
}


/* Comment form*/
#comment-form-wrapper {
	.separator-top;
	
	.comments-title {}
}

#comment-form {
	/* form elements */
	.form-item {
		margin: 0 0 15px;
		overflow: hidden;
		width: 100%;
	}
	
	label {
		vertical-align: middle;
	}
	
	.form-type-item label {
		float: left;
		padding-right: 10px;
	}
	
	.form-text {
		width: 100%;
	}

	.form-textarea {
		height: 200px;
		width: 100%;
	}

	/* filter*/
	.filter-wrapper {
		border: none;
		padding: 0;

		.fieldset-wrapper {
			> * {
				padding: 0;
			}
		}

		.filter-help {
			padding-top: 15px;

			a {
				background: none;
				display: inline-block;
				padding: 0;
			}
		}
		
		.form-item {
			width: auto;
		}

		label {
			display: inline-block;
			margin-right: 15px;
		}
	}
	
	/* buttons */
	.form-actions {
		margin: 0;
		padding-top: 20px;
		
		#edit-submit {
			margin-right: 15px;
		}
	}
}

/* Comment edit*/
#edit-comment-body-und-0-format-guidelines {
	clear: both;

	ul {
		font: inherit;

		li {
			background: none;
			overflow: hidden;
			margin: 0;
			padding: 0;
			width: 100%;
		}
	}
}



/* Contacts
===========================================================================*/

.panels-flexible-region-11-contacts{
	float: none;
	width: 100%;
}

.contact-form {
	.form-item {
		position: relative;
	}

	input[type="text"],
	textarea {
		position: relative;
		z-index: 20;
	}

	
	div.error {
		background-repeat: no-repeat;
		.box-sizing(border-box);
		display: block;
		height: 0;
		margin: 0;
		.opacity(0);
		overflow: hidden;
		padding: 0 10px 0 50px;
		.transition(.4s ease);
	}

	.error ~ div.error {
		height: auto;
		margin: 5px 0 0;
		.opacity(100);
		padding: 10px 10px 10px 50px;
		-webkit-animation-duration: .4s;
		animation-duration: .4s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInDown;
		animation-name: fadeInDown;
		z-index: 2;
	}
}


/* Forum
===========================================================================*/

.action-links {
	overflow: hidden;
	padding: 0 0 25px;

	li {
		float: left;
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}

		a {
			font-weight: bold;
		}
	}
}

#forum table {
	td.topics,
	td.posts,
	td.replies {
		text-align: center;
	}

	td.container {
		font-weight: bold;
	}

	.description {
		margin: 0;
	}

	.indent {
		margin: 0;
	}
	.name {
		overflow: hidden;
	}
	.description {
		clear: both;
	}
}

.field-name-taxonomy-forums,
.field-type-taxonomy-term-reference {
	overflow: hidden;
	padding-top: 20px;
	width: 100%;

	&.field-label-above {
		padding-top: 0;
	}

	.field-label {
		background: none;
		font: inherit;
		font-weight: bold;
		margin: 0;
		text-shadow: none;
		text-transform: uppercase;
	}

	ul.links {
		margin-bottom: 0;

		li {
			float: left;
			margin: 0 0 5px;
			
			&:before {
				content: ', ';
			}
	
			&:first-child {
				margin-left: 0;
				
				&:before {
					content: '';
				}
			}
	
			a {
				background: none;
				border: none;
				box-shadow: none;
				color: @linkColor;
				display: inline;
				font: inherit;
				padding: 0;
				text-shadow: none;
				text-transform: none;
	
				&:hover {
					background: none;
					text-decoration: underline;
				}
			}
		}
	}
}

.page-forum- #main-wrapper .active img {
	padding: 0;
	background: 0;
	border: none;
	margin-left: 5px;
	margin-top: 4px;
}


/* 404 Page not found
===========================================================================*/

.page-page-404 {
	.panel-col-first {
		color: @linkColor;
		font: bold 250px/200px @baseFontFamily;
		text-align: center;
	}
}

.panel-2col {
	.panel-col-first .inside {
		margin: 0 20px 0 0;
	}

	.panel-2col .panel-col-last .inside {
		margin: 0 0 0 20px;
	}
}


/* Testimonials
===========================================================================*/

.page-testimonials {
	.view-display-id-page {
		.views-row {
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
			}
		}

		.views-field-field-testi-image{
			float: left;
			margin: 0 20px 0 0;
			max-width: 45%;
			width: 80px;
		}

		.views-field-nothing {
			margin-bottom: 10px;

			p {
				margin-bottom: 0;
			}

			a {
				color: inherit;
				
				&:hover{
					color: @linkColor;
					text-decoration: none;
				}
			}
		}
		
		.views-field-field-testi-author,
		.views-field-field-testi-author-info{
			text-align: right;
		}
	}
}

.field-name-field-testi-image {
	float: left;
	margin: 0 20px 0 0;
	max-width: 45%;
}

.field-name-field-testi-author {
	font-weight: bold;
}


/* Archive
===========================================================================*/

.view-archive {
	.field-name-body {
		margin-bottom: 20px;
	}

	.views-row {
		margin-top: 40px;

		&:first-child {
			margin-top: 0;
		}
	}

	.field-name-taxonomy-forums {
		padding-top: 0;
	}
}


/* FAQs
===========================================================================*/

.view-FAQs.view-id-FAQs {
	.views-row {
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* Compose tips
===========================================================================*/

.compose-tips {
	.filter-type {
		margin-top: 40px;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* Comments page
===========================================================================*/

.view-comments-recent.view-display-id-page {
	.views-row {
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* Employee
===========================================================================*/

.field-name-field-employee-position {
	color: @linkColor;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 5px;
}

.field-name-field-employee-facebook{
	margin-left: 0;
}

.field-name-field-employee-facebook,
.field-name-field-employee-twitter,
.field-name-field-employee-google-plus {
	display: inline-block;
	margin-right: 5px;
}

.employee-social-link {
	border: 1px solid @linkColor;
	border-radius: 50%;
	color: transparent;
	display: block;
	font-size: 0;
	height: 28px;
	line-height: 0;
	text-align: center;
	text-decoration: none;
	width: 28px;
	
	&:before {
		color: @linkColor;
		font-size: 16px;
		line-height: 28px;
	}
	
	&:hover {
		border-color: @textColor;
		
		&:before {
			color: @textColor;
		}
	}
}

.node-type-employee .field-name-body {
	padding-top: 20px;
}



/*==========================================================================
9. SIDEBARS and BLOCKS
===========================================================================*/

.sidebar {
	position: relative;

	.block {
		.separator-top;

		&:first-child {
			border-top: 0 !important;
			margin-top: 0 !important;
			padding-top: 0 !important;
		}
	}
}


/* Contextual links
===========================================================================*/

.not-logged-in .contextual-links {
	display: none !important;
}

.contextual-links li {
	padding: 0;
	background: none;
}


/* Calendar
===========================================================================*/

.calendar-calendar {
	table,
	table td,
	table th,
	.month-view .full th.days {
		border:1px solid @borderColor;
	}

	td.calendar-agenda-items,
	.month-view .full td.single-day .calendar-empty,
	.month-view .full td.single-day.empty,
	.month-view .full td.date-box.empty {
		border-color: @borderColor;
	}

	tr,
	tr.odd,
	tr.even {
		td.today {
			background-color: transparent;
			color: @linkColor;
			font-weight: bold;
		}
	}

	th.days {
		background: @altBg;
		border: none;
		color: @textColor;
	}

	td {
		text-align: center;
	}

	td .inner div,
	td .inner div a {
		background: none;
	}

	.month-view .full td.multi-day div.monthview,
	.week-view .full td.multi-day div.weekview,
	.day-view .full td.multi-day div.dayview {
		background: @altBg;
	}

	.day-view .full td .inner div.calendar {
		.views-field-created {
			color: @textColor;
			float: left;
			width: 50px;
		}

		.views-field-title {
			overflow: hidden;
		}
	}

	.month-view .full tr td.single-day.today,
	.month-view .full td.date-box.today {
		border-color: @linkColor;
	}
}

.view-Calendar .pager .date-prev,
.view-Calendar .pager .date-next,
.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next {
	background: none;
	border-radius: 0;
	line-height: 0;
	padding: 0;
	top: 6px;

	a {
		background: @textColor;
		color: transparent;
		display: block;
		font-size: 0;
		height: 22px;
		line-height: 0;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;
		.transition(all 0.6s ease);
		width: 22px;

		&:before {
			color: #fff;
			font-family: FontAwesome;
			font-size: 12px;
			font-weight: normal;
			left: 50%;
			line-height: 22px;
			margin-left: -5px;
			margin-top: -11px;
			position: absolute;
			top: 50%;
		}

		&:hover {
			background: @linkColor;
		}
	}
}

.view .date-nav-wrapper .date-prev {
	right: auto;
}

.view .date-nav-wrapper .date-prev a:before {
	content: "\f060";
}

.view .date-nav-wrapper .date-next a:before {
	content: "\f061";
}

table .mini-day-on a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


/* Isotop filter
===========================================================================*/

.sidebar #isotope-options #filters {
	text-align: left;

	li {
		margin: 0 10px 5px 0;
	}
}


/* Map
===========================================================================*/

.gmap #gmap1 {
	height: 480px;
}

.gmap #gmap1 img {
	max-width: inherit;
}


/* Our team
===========================================================================*/

#block-views-our-team-block {
	.views-row {
		margin-bottom: 0;
		margin-top: 20px;
		overflow: hidden;

		&.views-row.views-row-first {
			margin-top: 0;
		}

		.views-field-field-employee-photo {
			width: 100px;
			float: left;
			margin-right: 15px;
		}

		.views-field-body {
			margin-bottom: 0;
		}
	}
}


/* Poll's bar
===========================================================================*/

.poll {
	.total,
	.title {
		margin-bottom: 15px;
	}

	.bar {
		background-color: @altBg;
		border: 1px solid @borderColor;
		height: 20px;
		margin-bottom: 15px;
		padding: 1px;

		.foreground {
			background-color: @linkColor;
			display: none;
			height: 20px;
		}
	}

	.percent {
		float: right;
	}

	.vote-form {
		text-align: left;
		padding-bottom: 15px;

		.choices {
			width: 100%;
		}
	}
}

#block-poll-recent ul.links li {
	background: none;
	padding-left: 0;
}


/* Recent comments
===========================================================================*/

#block-views-comments-recent-block {
	.views-row {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	.views-field-subject a {
		color: inherit;
		
		&:hover{
			color: @linkColor;
			text-decoration: none;
		}
	}
}


/* Recent content
===========================================================================*/

.contextual-links-region .node-title a {
	color: inherit;
	
	&:hover{
		color: @linkColor;
		text-decoration: none;
	}
}


/* Recent posts
===========================================================================*/

#block-views-recent-posts-block {
	.views-row {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	.views-field-body {
		clear: both;
		padding-top: 10px;
	}
}


/* Search
===========================================================================*/

#search-block-form,
[id^="search-block-form"] {
	.element-invisible {
		display: none !important;
	}

	.container-inline {
		border: 1px solid @borderColor;
		.box-sizing(border-box);
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
		background: @altBg;
	}
	
	.form-item-search-block-form{
		display: block;
		margin: 0 30px 0 0;
	}
	
	input.form-text {
		background: none;
		border: none;
		display: block;
		margin: 0;
		width: 100%;
	}
	
	[id^=edit-actions] {
		z-index: 1;

		&:after {
			color: @textColor;
			content: "\f002";
			cursor: pointer;
			font: 20px/30px FontAwesome;
			margin-top: -16px;
			position: absolute;
			right: 0;
			text-align: center;
			top: 50%;
			width: 30px;
			z-index: 1;
		}
		
		&:hover:after {
			color: @linkColor;
		}
	}
	
	.form-submit {
		background: none;
		border: none;
		border-radius: 0;
		bottom: 0;
		box-shadow: none;
		color: transparent;
		cursor: pointer;
		display: block;
		font-size: 0;
		line-height: 0;
		margin: 0 !important;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		z-index: 2;
	}
}

/* Sibscribe
===========================================================================*/

.block-simple-subscription-subscribe input[type="text"] {
	width: 100%;
}


/*==========================================================================
10. SHORTCODES
===========================================================================*/

.progressbar {
	.progressbar-wrap{
		background: @borderColor;
	}
	.progressbar-background {
		background: @linkColor;
	}
}


/*==========================================================================
11. FOOTER TOP
===========================================================================*/

.footer_top_wrapper {
	border-bottom: 1px solid #e9e8e5;
}

.region-footer-top {
	padding: 48px 0 42px;
}

/*==========================================================================
12. FOOTER
===========================================================================*/

#footer {
	clear: both;
	padding: 0;
	position: relative;
}

.region-footer {
	padding: 39px 0 35px;
}
.region-footer,.region-footer-top {
	text-align: center;
	color: #7d736a;
	a {
		color: #7d736a;
		&:hover {
			color: @linkHoverColor;
		}
	}
}

/* Footer menu
===========================================================================*/

.footer-menu .content ul{
	margin: 0;
	overflow: hidden;
	width: 100%;
	text-align: center;
	
	li{
		position: relative;
		background: none;
		float: none;
		font-size: 16px;
		line-height: 20px;
		display: inline-block;
		margin: 0 0 0 56px;
		padding: 0;
		font-weight: 400;
		text-transform: lowercase;
		&:after {
			.transition(all 0.3s ease);
			content: '';
			display: inline-block;
			width: 9px;
			height: 26px;
			position: absolute;
			left: -33px;
			top: 0;
			background: url(../images/menu.png) 0 0 no-repeat;
		}
		&:first-child{
			margin-left: 0;
			&:after {
				display: none;
			}
		}
		
		a{
			color: inherit;
			text-decoration: none;
			
			&:hover,
			&.active{
				color: #ee3968;
				text-decoration: none;
			}
		}
	}
}


/* Copyright
===========================================================================*/

.block-copyright {
	font-weight: 600;
	a {
		color: inherit;
		
		&:hover{
			color: @linkHoverColor;
			text-decoration: none;
		}
	}
}


/* Back to top
===========================================================================*/

#backtotop {
	background: @white;
	border: 1px solid #e9e8e5;
	border-radius: 50%;
	bottom: 30px;
	color: transparent;
	font-size: 0;
	line-height: 0;
	margin-right: 0 !important;
	padding: 0;
	position: fixed;
	right: 40px !important;
	text-align: center;
	text-decoration: none;
	width: 60px;
	z-index: 5;
	opacity: 1;

	&:after{
		color: @black;
		content: "\f077";
		font: normal 25px/60px FontAwesome;
	}
	&:hover {
		&:after {
			color: @linkColor;
		}
	}
}


/* Switcher
===========================================================================*/

.switcher {
	cursor: pointer;
	margin-top: 10px;
	font-size: 11px;

	&:hover {
		text-decoration: underline;
	}
}

.panels-flexible-region-13-center {
	width: 100%;
}


.parallax {
	background: url(../images/parallax.jpg) center top no-repeat;
}