@import url('mixins.less');

/* Table of Contents:
   1. Tablet landscape
   2. Tablet portrait
   3. Mobile landscape
   4. Mobile portrait
*/



/*==========================================================================
1. Tablet landscape
===========================================================================*/

.switcher {
	display:none;
}

@media (max-width: 1250px) {
	body {
		min-width: 320px;
	}
	
	.switcher {
		display: inline-block;
	}
	#flexslider-1 {
		margin: 0 360px 0 0;
		.flex-caption {
			padding: 80px 20px 0 20px;
			width: 360px;
			right: -360px;
			background-position: 20px 20px;
		}
	}
	.banner-wrap {
		.banner {
			&-1 {
				width: 360px;
			}
			&-2 {
				width: 320px;
			}
			&-3 {
				width: 260px;
				padding: 93px 15px 0 35px;
				overflow: hidden;
			}
			.title-1 {
				font-size: 25px;
				padding: 0 110px 0 20px;
			}
			.title-2 {
			}
			.title-3 {
				font-size: 24px;
				line-height: 36px;
				padding-bottom: 29px;
				margin-bottom: 31px;
			}
		}
	}
}



/*==========================================================================
2. Tablet portrait
===========================================================================*/

@media (max-width: 995px) {
	.page-page-404 .panel-col-first {
		font-size: 160px;
	}
	
	.stickup{
		box-shadow: none !important;
		position: static !important;
	}
	
	.pseudoStickyBlock{
		display: none !important;
		height: 0 !important;
	}
	
	#backtotop {
		display: none !important;
	}
	#flexslider-1 {
		margin: 0 300px 0 0;
		.flex-caption {
			padding: 30px 20px 0 20px;
			width: 360px;
			right: -300px;
			background: #f6f6f6;
		}
	}
	.banner-wrap {
		li {
			width: 33.3%;
		}
		.banner {
			&-1 {
				width: 100%;
			}
			&-2 {
				width: 100%;
			}
			&-3 {
				width: 100%;
				padding: 93px 15px 0 35px;
			}
			.title-1 {
				text-align: center;
				font-size: 20px;
				padding: 0 10px;
				background: #a2ce25;
			}
			.title-2 {
				font-size: 20px;
			}
			.title-3 {
				font-size: 20px;
				line-height: 30px;
				padding-bottom: 20px;
				margin-bottom: 20px;
			}
		}
	}
	#block-views-expertise-block .views-field-field-expertise-image,.img-left {
		width: 100%;
		float: none;
		margin: 0 0 20px;
		max-width: none;
	}
}



/*==========================================================================
3. Mobile landscape
===========================================================================*/

@media (max-width: 767px) {
	#superfish-1 {
		display: none;
	}

	.select-menu {
		display: block !important;
		width: 100%;
	}

	.comment-wrapper {
		overflow: visible;
	}

	.user-picture {
		margin-bottom: 12px;
	}

	.views-field-field-portfolio-image {
		pointer-events: none;
	}

	.panel-2col .panel-col-first,
	.panel-2col .panel-col-last {
		float: none;
		width: 100%;

		.inside {
			margin: 0;
		}
	}

	.page-page-404 .panel-col-first {
		font-size: 170px;
		line-height: 170px;
		text-align: center;
	}

	.filter-help {
		float: none;
		margin-bottom: 15px;
		padding-top: 0;
	}
	
	.mobile-two-column .views-row {
		float: left !important;
		width: 46% !important;
		margin-right: 4% !important;
		
		&.even {
			margin-right: 0 !important;
		}
		
		&.odd {
			clear: left;
		}
	}
	
	#flexslider-1 {
		margin: 0;
		.flex-caption {
			position: static;
			width: auto;
			padding: 20px;
			p {
				display: none;
			}
		}
	}
	.banner-wrap {
		ul {
			text-align: center;
			width: 100%;
			li {
				margin: 0;
				width: 52%;
				float: none;
				display: inline-block;
			}
		}
		.banner {
			height: 320px;
			&-1 {
				width: 100%;
			}
			&-2 {
				width: 100%;
			}
			&-3 {
				width: 100%;
				padding: 50px 15px 0 15px;
			}
			.title-1,.title-2 {
				height: 110px;
				line-height: 110px;
				text-align: center;
				font-size: 18px;
				padding: 0 10px;
			}
			.title-3 {
				font-size: 18px;
				line-height: 22px;
				padding-bottom: 15px;
				margin-bottom: 15px;
			}
		}
	}
	#block-tm-follow-site {
		h2 {
			text-align: left;
		}
		.tm-follow-links {
			text-align: left;
		}
	}
	#block-block-9 .block-content,#block-block-8 h2 {
		padding: 0;
	}
	.custom-btn a {
		font-size: 16px;
		line-height: 20px;
		padding: 9px 15px;
	}
	#block-block-8 .custom-caption {
		min-height: 200px;
		padding: 30px 0 30px 30px;
		width: 200px;
		.title {
			font-size: 25px;
			line-height: 25px;
			margin-bottom: 20px;
		}
	}
	.footer-menu .content ul li {
		margin-left: 20px;
		&:after {
			display: none;
		}
	}
	.header-section-1 {
		padding-bottom: 0;
	}
	#flexslider-1 .slides li:before {
		display: none;
	}
}



/*==========================================================================
4. Mobile portrait
===========================================================================*/

@media (max-width: 479px) {
	.node-teaser .field-type-file,
	.node-teaser .field-type-image,
	.node-employee .field-type-image {
		float: none;
		margin: 0 0 20px;
		max-width: inherit;
		width: auto;
	}

	#comments {
		.comment .comment-wrapper {
			overflow: visible;
		}

		.indented {
			margin-left: 0;
		}
	}

	.page-tracker #main-wrapper .content {
		overflow-x: scroll;

		table.sticky-header {
			display: none !important;
		}
	}

	.page-forum #forum {
		overflow-x: scroll;

		td.forum .icon {
			float: none;
			margin: 0 0 5px;
		}
	}

	.field-name-field-testi-image {
		float: none;
		margin: 0 0 20px;
		max-width: inherit;
	}
	
	.mobile-two-column .views-row {
		float: none;
		width: 100% !important;
		margin-right: 0 !important;
	}
	.banner-wrap {
		ul {
			li {
				width: 75%;
			}
		}
	}
	#block-block-8 {
		.custom-block-1 {
			background-size: 100%; 
		}
		.custom-caption {
			min-height: 150px;
			padding: 10px;
			width: 150px;
			.title {
				font-size: 25px;
				line-height: 25px;
				margin-bottom: 20px;
			}
		}
	}
	.custom-btn a {
		font-size: 14px;
		line-height: 20px;
		padding: 5px;
	}
	.footer-menu .content ul li {
		margin-left: 10px;
		font-size: 14px;
	}
	#isotope-options #filters li {
		margin-left: 0;
		display: block;
	}
}